@charset "UTF-8";
@font-face {
    font-family: 'rosamarena';
    src: url('../fonts/rosa-marena.ttf') format('truetype');
}
.wa,[class*=w-],img{max-width:100%;height:auto;}.slick-loading .slick-slide,.slick-loading .slick-track{visibility:hidden}*,.mCustomScrollBox,.slick-list:focus{outline:0}
@media (min-width:1px){
    .hid-l,.hid-m,.hid-xl,.vis-s{display:inline-block!important}
    .hid-s,.vis-l,.vis-m,.vis-xl{display:none!important}
}
@media (min-width:768px){
    .hid-l,.hid-s,.hid-xl,.vis-m{display:inline-block!important}
    .hid-m,.vis-l,.vis-s,.vis-xl{display:none!important}
}
@media (min-width:1180px){
    .hid-m,.hid-s,.hid-xl,.vis-l{display:inline-block!important}
    .hid-l,.vis-m,.vis-s,.vis-xl{display:none!important}
}
@media (min-width:1480px){.hid-l,.hid-m,.hid-s,.vis-xl{display:inline-block!important}.hid-xl,.vis-l,.vis-m,.vis-s{display:none!important}}
.box,::after,::before,input[type=text]{-webkit-appearance:none;display:inline-block;box-sizing:border-box}
h1,h2,h3,h4,h5,h6,li,ol,p,ul{margin:0;padding:0;box-sizing:border-box;-webkit-appearance:none}a,button,input[type=submit]{cursor:pointer;text-decoration:none;outline:0}a,button,input[type=submit],input[type=text]{-webkit-transition:all .5s;transition:all .5s}iframe,img{vertical-align:middle}.box,input[type=text]{overflow:visible;position:relative}body{margin:0!important}.obut{opacity:1}.obut-,.obut:hover{opacity:.6}.obut-:hover{opacity:1}.fnt-i,em{font-style:oblique;font-style:italic}.fnt-u{text-transform:uppercase}.txt-c{text-align:center}.txt-l{text-align:left}.txt-r{text-align:right}.txt-j{text-align:justify}.flex{display:-ms-flexbox;display:-webkit-box;display:flex;box-sizing:content-box!important}.flex-c{-ms-flex-pack:center;-webkit-box-pack:center;justify-content:center}.flex-r{-ms-flex-pack:end;-webkit-box-pack:end;justify-content:flex-end}.flex-w{-ms-flex-wrap:wrap;flex-wrap:wrap}.flex-b{-ms-flex-align:end;-webkit-box-align:end;align-items:flex-end}.flex-m{-ms-flex-align:center;-webkit-box-align:center;align-items:center}.flex-sb{-ms-flex-pack:justify;-webkit-box-pack:justify;justify-content:space-between}.flex-sa{-ms-flex-pack:distribute;justify-content:space-around}.flex-wsb{-ms-flex-line-pack:justify;align-content:space-between}.flex-wsa{-ms-flex-line-pack:distribute;align-content:space-around}.flex>*{box-sizing:border-box!important}.nojq{width:100%;background:#fff;position:fixed;top:0;bottom:0;z-index:999999}.fnt4,.fnt4h:hover{font-weight:400!important}.fnt6,.fnt6h:hover{font-weight:600!important}.fnt7,.fnt7h:hover{font-weight:700!important}.h125{height:125px}.p100{padding:100px}.fs100{font-size:100px!important}.h-100{height:100%}.h_100{height:100vh}.m50{margin:50px 0}
.p50{padding:50px}
.pl50{padding-left:50px}
.ptb50{padding:50px 0}.grd50{margin-left:-50px}.grd50>*{padding-left:50px;padding-bottom:50px}.fs50{font-size:50px!important}.lh50{line-height:50px!important}
.p40{padding:40px}.ptb40{padding:40px 0}.grd40{margin-left:-40px}.grd40>*{padding-left:40px;padding-bottom:40px}.lh40{line-height:40px!important}
.pb40{padding-bottom:40px}
.m30{margin:30px 0}.p30{padding:30px}.ptb30{padding:30px 0}.grd30{margin-left:-30px}.grd30>*{padding-left:30px;padding-bottom:30px}.lh30{line-height:30px!important}.fs26{font-size:26px!important}.fs28{font-size:28px!important}.lh26{line-height:26px!important}.p25{padding:25px}.lh25{line-height:25px!important}.lh24{line-height:24px!important}.fs22{font-size:22px!important}.lh22{line-height:22px!important}.m20{margin:20px 0}.p20{padding:20px}.ptb20{padding:20px 0}.grd20{margin-left:-20px}.grd20>*{padding-left:20px;padding-bottom:20px}.fs20{font-size:20px!important}.lh20{line-height:20px!important}.fs18{font-size:18px!important}.lh18{line-height:18px!important}.lh17{line-height:17px!important}.fs16{font-size:16px!important}.m15{margin:15px 0}.p15{padding:15px}.ptb15{padding:15px 0}.fs15{font-size:15px!important}.fs14{font-size:14px!important}.fs12{font-size:12px!important}.m10{margin:10px 0}
.p10{padding:10px}
.ptb10{padding:10px 0}
.grd10{margin-left:-10px}.grd10>*{padding-left:10px;padding-bottom:10px}.p7{padding:7px}.ptb5{padding:5px 0}.brd-3{border-radius:3px}.brd_3{border:3px solid}.brd-2{border-radius:2px}.brd_1{border:1px solid}
.m0{margin:0}.brd_r0{border-right:0 solid}.mt0{margin-top:0}.mb0{margin-bottom:0}
.pt0{padding-top:0}.pt10{padding-top:10px}.pt20{padding-top:20px}.pt30{padding-top:30px}
.pl0{padding-left:0}
.pr0{padding-right:0}
.pr10{padding-right:10px}
.pr20{padding-right:20px}
.pr30{padding-right:30px}
.pr40{padding-right:40px}
@media (min-width:1px){.w-6{width:6%}.w-20{width:20%}.w-25{width:25%}.w-30{width:30%}.w-35{width:35%}.w-40{width:40%}.w-45{width:45%}.w-50{width:50%}.w-58{width:58%}.w-60{width:60%}.w-75{width:75%}.w-80{width:80%}.w-88{width:88%}.w-90{width:90%}.w-100{width:100%}.w-33{width:calc(100% * .33333)}}
.mt40 {margin-top:40px;}


.achtung22{
    display:none;
    z-index:2000;
    position: fixed;
    top:50%;
    left:50%;
}

.achtung22  .diffpriceblock{
    background: #ffdba2 !important;
    color: black !important;
    position: absolute;
    /*z-index: 2000;*/
    box-shadow: 0 0 5px 2px rgba(0,0,0,.3);
}

.achtung22  .diffpriceblock a{
    border-bottom: 1px dotted #b4b3b6 !important;



}

@media (min-width:768px){
.achtung22  .diffpriceblock a{
   margin-right: 30px  !important;
}

}

 .achtung22 .diffpriceblock::before {
    box-shadow: -2px -2px 3px 0 rgba(0,0,0,.3);
    top: -5px;
    left: 50%;
    width: 10px;
    height: 0px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    background: #fff;
}

.achtung22 .diffpriceblock::after {
    content: "";
    position: absolute;
    display: block;
}
.achtung22 .diffpriceblock::before {
display:none;
}
.achtung22 .diffpriceblock::after {


 box-shadow: -2px -2px 3px 0 rgba(0,0,0,.3);
    top: -5px;
    left: 50%;
    width: 10px;
    height: 0px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    background: #fff;
}


@media (min-width:1px){
    .achtung22 .diffpriceblock{
        top:-40px;
        left:-189px;
        width:300px;
    }
}

@media (min-width:480px){
.achtung22  .diffpriceblock {
    top: -50px;
    left: -236px;
    width: 400px;
    background: #fff;
}
}



@media screen and (min-device-width: 1px) and (max-device-width: 767px) {


.achtung22  .diffpriceblock {
    top: -130px;
    left: 15px;
    width: 210px;
    background: #fff;
}
}

@media (min-width:768px){
	.w-m-3{width:3%}
	.w-m-5{width:5%}
	.w-m-10{width:10%}
	.w-m-15{width:15%}
	.w-m-20{width:20%}
	.w-m-25{width:25%}
	.w-m-30{width:30%}
	.w-m-40{width:40%}
	.w-m-42{width:42%}
	.w-m-45{width:45%}
	.w-m-48{width:48%}
	.w-m-50{width:50%}
	.w-m-52{width:52%}
	.w-m-60{width:60%}
	.w-m-70{width:70%}
	.w-m-75{width:75%}
	.w-m-80{width:80%}
	.w-m-85{width:85%}
	.w-m-90{width:90%}
	.w-m-33{width:calc(100% * .33333)}
}
@media (min-width:1180px){
    .w-l-20{width:20%}.w-l-25{width:25%}.w-l-80{width:80%}
}
@font-face{font-family:rob;font-weight:300;font-style:normal;src:url(fnt/rob300.woff) format("woff")}
@font-face{font-family:rob;font-weight:300;font-style:italic;src:url(fnt/rob300i.woff) format("woff")}
@font-face{font-family:rob;font-weight:400;font-style:normal;src:url(fnt/rob400.woff) format("woff")}
@font-face{font-family:rob;font-weight:400;font-style:italic;src:url(fnt/rob400i.woff) format("woff")}
@font-face{font-family:rob;font-weight:600;font-style:normal;src:url(fnt/rob600.woff) format("woff")}
.clr0-h:hover{background:0 0!important}.clr0_{border-color:transparent!important}
.wht0{color:#fff!important}
.wht0-,.wht0-h:hover{background:#fff!important}
.gry1,.gry1h:hover{color:#333!important}.gry1_,.gry1_h:hover{border-color:#333!important}.gry2,.gry2h:hover{color:#b4b3b6!important}.gry2-h:hover{background:#b4b3b6!important}.gry2_,.gry2_h:hover{border-color:#b4b3b6!important}.gry3-,.gry3-h:hover{background:#ececec!important}.gry3_,.gry3_h:hover{border-color:#ececec!important}
.ylw1,.ylw1h:hover{color:#e89a1e!important}
.ylw1-{background:#e89a1e!important}
.ylw1_,.ylw1_f:focus,.ylw1_h:hover{border-color:#e89a1e!important}
.ylw2-h:hover{background:#ffdba2!important}
.ylw2_,.ylw2_f:focus,.ylw2_h:hover{border-color:#ffdba2!important}
.ylw3-{background:#fbf0df!important}
.blk1,.blk1h:hover{color:#000!important}
.blk1_,.blk1_:hover{border-color:#000!important}
.main-s-img{
    margin-bottom:10px;
}
@media (min-width:1px){
    #item-gift .modal::after,#item-gift .modal::before,.complect>div:not(:first-child)::before{z-index:1;content:""}.wa{padding:0 10px}.main-slider-text{padding:0}.main-slider-text .text{padding:20px;border:0}.main-slider-text .hdr{font-size:31px!important}.main-slider-text .txt{font-size:18px!important}
    .main-s-img{width:100%;min-height:200px}
    #catcat a span.img{width:100%;min-height:130px}#breadcrumbs a:last-child{opacity:0}.complect>div:not(:first-child)::before{position:absolute;width:40px;height:40px;background:url(../img/item/pl.png) center no-repeat;left:calc(50% - 20px);top:-20px}.complect>div:last-child::before{background:url(../img/item/eq.png) center no-repeat}#item-gift .modal::before{top:-4px;left:-4px;width:93px;height:73px;background:url(../img/item/gift1.png) center/cover no-repeat;position:absolute}
    #item-gift .modal::after{bottom:-16px;right:-4px;width:132px;height:118px;background:url(../img/item/gift2.png) center/cover no-repeat;position:absolute}
    .achtung,.achtung1{width:194px;height:70px;display:none;position:absolute}
    .achtung{top:-60px;left:-40px}



    .achtung1{top:-30px;left:45px}
    .warranty{position:absolute;z-index:2;top:30px;left:20px;width:300px;background:#fff;box-shadow:0 0 5px 2px rgba(0,0,0,.3)}
    .diffpriceblock{
        position:absolute;
        z-index:2;
        top:30px;
        left:15px;
        width:210px;
        background:#fff;
        box-shadow:0 0 5px 2px rgba(0,0,0,.3)
    }
}
@media (min-width:768px){
    #item-gift .modal::after,
    #item-gift .modal::before{z-index:1;content:""}
    .main-slider-text{padding:20px}
    .main-slider-text .text{border:10px solid #ffe8c4}
    .wa{padding:0 20px}
    .main-s-img{width:100%;min-height:300px}
    .slider-s .main-s-img{min-height:220px}
    #catcat a span.img{width:100%;min-height:258px}
    #breadcrumbs a:last-child{opacity:1}
    .complect>div:not(:first-child)::before{top:calc(50% - 20px);left:-20px}
    #item-gift .modal::before{top:-7px;left:-7px;width:185px;height:146px;background:url(../img/item/gift1.png) center no-repeat;position:absolute}
    #item-gift .modal::after{bottom:-32px;right:-7px;width:264px;height:235px;background:url(../img/item/gift2.png) center no-repeat;position:absolute}




   .achtung,
    .achtung1{width:194px;height:70px;display:none;position:absolute}
    .achtung{top:-60px;left:-40px}
    .achtung1{top:-30px;left:-35px}
    .warranty{position:absolute;z-index:2;top:30px;left:-275px;width:800px;background:#fff;box-shadow:0 0 5px 2px rgba(0,0,0,.3)}
    .diffpriceblock{position:absolute;z-index:2;top:30px;left:-85px;width:400px;background:#fff;box-shadow:0 0 5px 2px rgba(0,0,0,.3)}
    .p0-m{padding:0}
}
.posrel,body{position:relative}@media (min-width:1180px){.main-slider-text{padding:70px}.main-slider-text .text{padding:50px}.main-slider-text .hdr{font-size:62px!important}.main-slider-text .txt{font-size:36px!important}}@media (max-width:767px){.p0-s{padding:0}.p15-s1{padding:25px}.grd10-s>*,.plr10-s{padding-left:10px}.grd10-s{margin-left:-10px}.plr10-s{padding-right:10px}.coll-rght-s .inner{left:calc(-100% + 1px)}.coll .inner .p30{padding:10px!important}.coll .inner a.btn{padding:0 0 0 10px!important}.slider-4 .wrap{padding:17px!important}}::-moz-selection{background:#b4b3b6;color:#fff;text-shadow:none}::selection{background:#b4b3b6;color:#fff;text-shadow:none}body{color:#6e6d6f;font:300 16px rob,Roboto,sans-serif;background:#fff;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;text-align:center;min-height:100vh}.r{font-family:rob,Roboto,sans-serif}h1,h2,h3,h4,h5,h6{font:400 16px rob,Roboto,sans-serif}.wa{width:1340px;box-sizing:border-box}.ma,.wa{margin-left:auto;margin-right:auto}a,button,input,textarea{-webkit-transition:all .6s;transition:all .6s}.fnt3,body,p{font-weight:300}.fnt4,b,strong{font-weight:400}.fnt4 strong,.fnt5,.fnt6,b b,b strong,strong b,strong strong{font-weight:600}.lnk{border-bottom:1px solid transparent}.lnk.inn{border-bottom:1px dotted transparent}.btn{border:1px solid transparent;padding:0 18px}
.search .submit{position:absolute;right:20px;top:22px;width:16px;height:16px}
.arr-dwn::after{content:"›";position:absolute;right:-10px;-webkit-transform:rotate(90deg);transform:rotate(90deg)}
#favorites>div::after,#favorites>div::before,#submenu-nav>.cansub::after{content:""}
#submenu,.sub{display:none;right:0}
.arr-dwn{position:relative;margin-right:10px}
#submenu,.sub{position:absolute}
#submenu-nav{border-bottom:3px solid #ffdba2}
#submenu{z-index:2000;left:0;top:101px;border-top:3px solid #ffdba2;overflow:hidden;box-shadow:0 2px 5px 0 rgba(0,0,0,.2)}
#submenu-nav>.cansub::after{opacity:0;-webkit-transition:all .3s;transition:all .3s;position:absolute;left:calc(50% - 8px);top:72px;width:16px;height:8px;background:url(../img/menu/sub-menu.png) no-repeat;z-index:1}#submenu-nav>.cansub.open::after{opacity:1}#menu{margin-bottom:22px}.sub{left:0;top:73px;z-index:1;cursor:default;box-shadow:0 6px 10px #e7e7e7}li:hover .sub{display:block}.submenu{box-sizing:border-box!important}.columns5{position:relative;-webkit-column-count:5;-moz-column-count:5;column-count:5;-webkit-column-gap:50px;-moz-column-gap:50px;column-gap:50px}.lettr{position:absolute;left:-25px;top:-3px;font-size:26px;font-weight:500}
#favorites{position:absolute;left:20px;right:20px;z-index:3000;top:160px}
#favorites>div{width:100%;box-shadow:0 -3px 0 #ffdba2,0 0 10px #bbb;padding:0}
#favorites>div::before{position:absolute;background:0 0;height:30px;top:-21px;right:0;left:0;z-index:-1}
#favorites>div::after{position:absolute;background:url(../img/menu/sub-menu.png) no-repeat;width:16px;height:8px;top:-11px;right:60px}
#favorites .flex.like{
	display: inline-block;
	width:100%;
	/*border:1px solid #ececec;
	border:1px solid #ececec;
	border-right:0;
	border-bottom:0;*/
	border: none;
}
.like>div{position:relative;box-shadow:-1px -1px 0 0 #ececec inset, 1px 1px 0 0 #ececec inset;/*width:100%*/width:210px;height:320px;float:left;}
.like img{max-width:calc(100% - 2px);margin:1px;}
#favorites-m>div,#m-menu>div{width:100%;position:absolute!important;z-index:3;left:0;top:113px;box-shadow:0 0 10px #bbb,0 3px 0 #ffdba2 inset;padding:3px 0 0}
#favorites-m>div::after,#m-menu>div::after{top:-8px;width:16px;height:8px;background:url(../img/menu/sub-menu.png) no-repeat;content:"";position:absolute;z-index:4}#favorites-m>div::after{right:22px}#m-menu>div::after{left:22px}[id^=m-menu--]{position:absolute;top:3px;left:0;right:0;box-shadow:0 3px 6px rgba(0,0,0,.3)}
.del{position:absolute;z-index:4;left:12px;top:5px}
a[class*=tog200-]{-webkit-transform:rotate(90deg);transform:rotate(90deg);font-size:40px;line-height:30px;color:#b4b3b6;width:40px;height:40px;border:1px solid #e7e7e7;border-radius:100px}
.arr-rght:after,.toggles>a::after{color:#333;font-size:30px;width:20px;position:absolute;content:"›"}
a[class*=tog200-]:hover{color:#333;border:1px solid #b4b3b6}
a.soc{padding:10px;border:1px solid #e7e7e7;border-radius:50px;background:0 0;margin-right:15px}
a.soc>img{-webkit-filter:brightness(100%);filter:brightness(100%);-webkit-transition:all .6s;transition:all .6s}
a.soc:hover{border:1px solid #b4b3b6;background:#e89a1e}
a.soc:hover>img{-webkit-filter:brightness(500%);filter:brightness(500%)}
.main-slider-text{position:absolute;left:0;right:0;top:0;bottom:0}
.arr-rght:after{right:10px;top:7px}
.toggles>a::after{-webkit-transform:rotate(-90deg);transform:rotate(-90deg);-webkit-transition:all .6s;transition:all .6s;right:15px;top:2px}
.toggles>a.active::after{-webkit-transform:rotate(90deg);transform:rotate(90deg);right:10px;top:12px}
.toggles>p{border-bottom:1px solid #ececec}
.brd_b3{border-bottom:3px solid transparent}
.brd_b0{border-bottom:0}
.brd_l0{border-left:0}
#navigation{font:400 12px Roboto;text-align:left;padding:16px 0 30px}
#navigation a.back{border:1px solid transparent;padding:0 8px;border-radius:2px;margin-right:20px}
#navigation a:not(.back){color:#b4b3b6;border-bottom:1px solid #ececec}
#navigation a:not(.back):last-child{color:#333;border-bottom:1px solid #ececec}
#navigation a:not(.back):hover{color:#e89a1e;border-bottom:1px solid #b4b3b6}
#navigation a:not(.back):not(:last-child){margin-right:24px;position:relative;display: inline-block;}
#navigation a:not(.back):not(:last-child)::after{content:"›";position:absolute;top:0;right:-13px;color:#b4b3b6;opacity:1}
#slider-range{height:2px;border-radius:2px;background:#e2e2e2;width:100%;position:relative;margin:25px 0 15px}
#slider-range .ui-widget-header{height:2px;border-radius:2px;background:#333;position:absolute;top:0}
#slider-range .ui-state-default{height:8px;width:8px;border:2px solid #e89a1e;border-radius:20px;background:#fff;position:absolute;top:0;margin:-5px 0 0 -5px;-webkit-transition:all 0s;transition:all 0s}
#slider-range1{height:2px;border-radius:2px;background:#e2e2e2;width:100%;position:relative;margin:25px 0 15px}
#slider-range1 .ui-widget-header{height:2px;border-radius:2px;background:#333;position:absolute;top:0}
#slider-range1 .ui-state-default{height:8px;width:8px;border:2px solid #e89a1e;border-radius:20px;background:#fff;position:absolute;top:0;margin:-5px 0 0 -5px;-webkit-transition:all 0s;transition:all 0s}
hr{border:0;border-bottom:1px solid #ececec;margin:10px 0}
label input[type=checkbox]{margin:0 10px 0 0}
.pagination a{height:35px;width:35px;margin:2px;border:1px solid #ececec;border-radius:50px;line-height:33px}
.pagination .dots::before{content:"...";line-height:40px}
.pagination a.left::before,
.pagination a.rght::before,
.what-the-size::before{content:"›"}
.pagination a.active,
.pagination a:hover{border:1px solid #e89a1e}.pagination a.left::before{-webkit-transform:rotate(180deg);transform:rotate(180deg);font-size:26px;line-height:35px}.pagination a.rght::before{font-size:26px;line-height:29px}.img-hvr{padding-left:calc(11% + 30px);padding-right:30px}.img-hvr .large{width:520px;max-width:100%}.img-hvr .small>div{width:100%}.img-hvr .small{position:absolute;left:0;top:0;width:70px;max-width:15%}
.what-the-size{border:1px solid #ececec;padding:0 20px 0 15px;color:#b4b3b6}
.what-the-size{min-width:60px;min-height:40px;}
.what-the-size.active{border:1px solid #b4b3b6}
.what-the-size.choice{color:#333}
.what-the-size::before{position:absolute;right:10px;-webkit-transform:rotate(90deg);transform:rotate(90deg)}
/*.selnobor{white-space:nowrap;}*/
.selnobor * {white-space:normal;}
.selnobor .what-the-size{border:none;color:#000;/*border-bottom:1px dotted #000;*/padding:5px;padding-right:20px;min-width:0;min-height:0;box-sizing:content-box;border:1px solid #ececec;text-align:center;}
.selnobor .what-the-size:hover{text-decoration:none;color:inherit;}
.warranty::after,.warranty::before,
.diffpriceblock::after,.diffpriceblock::before{content:"";position:absolute;display:block}
.what-the-size-in,.what-the-size-in1{position:absolute;top:41px;left:0;right:0;width:100%;text-align:center;background:#fff;border:1px solid #ececec;border-top:0;z-index:1;color:#333}
.selnobor .what-the-size-in,.selnobor .what-the-size-in1{border-top:1px solid #ececec;top:30px;right:initial;}
.selnobor .what-the-size-in .changeraz,.selnobor .what-the-size-in1 .changeraz{white-space:nowrap;padding:5px;padding-right:20px;box-sizing:border-box;}
.selnobor .changeraz:hover{background:#ececec;}
.selnobor .what-the-size::before{right:5px;}
.slider.slider-5 div>a,
.slider.slider-s div>a {border-right:1px solid transparent}
.slider.slider-5 .slick-active:not(:last-child)>a,
.slider.slider-s .slick-active:not(:last-child)>a{border-right:1px solid #ececec}
.warranty::after,
.diffpriceblock::after{box-shadow:-2px -2px 3px 0 rgba(0,0,0,.3);top:-5px;left:50%;width:10px;height:10px;-webkit-transform:rotate(45deg);transform:rotate(45deg);background:#fff}
#catcat>div,.coll .wrap,.complect>div{box-shadow:-1px -1px 0 0 #ececec inset}
.warranty::before,
.diffpriceblock::before{top:-11px;left:0;width:100%;height:25px;background:0 0}
.warr:hover~.warranty,.warranty:hover{display:block}
.coll .inner,.coll .tog-hid{display:none}
#filters a{margin-left:20px}
.coll{width:100%;border:1px solid #ececec;border-right:0;border-bottom:0}
.coll .wrap{position:relative;width:100%}
.coll .inner{position:absolute;z-index:1;width:100%;height:calc(100% - 1px);background:#fff;right:calc(-100% + 1px);top:0}
.coll .w-m-40 .inner{width:50%;right:calc(-50% + 2px)}
.coll .coll-rght .inner{left:calc(-100% + 1px)}
.coll .w-m-40.coll-rght .inner{left:calc(-50% + 2px)}
.coll .wrap:hover .inner{display:block}
.coll .wrap a.like1{display:none;position:absolute;z-index:1;top:30px;left:30px}
/*.coll .wrap:hover a.like1{display:inline-block}*/
.coll-item {}
.coll-item>a.wrap {
    display:inline-block;
}
.coll-item>.wrap {
    background:url('') center/contain no-repeat;
    cursor:pointer;
}
.coll-item:hover>.wrap {
    /*background:none;*/
    background-size:90%;
}
.coll-item.active .inner {
    display:block;
}
.coll-item.blc-left .inner {right:auto;left:calc(-100% + 1px)}
.moar::after{content:"›";position:absolute;right:10px}#club_b2 .wrap,.slider-4 .wrap{top:0;bottom:0;right:0;position:absolute;left:0}.slider-4 .wrap{z-index:1;padding:37px}#club_b2 p{position:relative;padding:8px 0 8px 18px}#club_b2 p::before{content:"";position:absolute;left:0;top:14px;width:6px;height:6px;background:#e89a1e;border-radius:6px}.collect .wrap,.collect .wrap:hover,.share .wrap{top:0;left:0;right:0;position:absolute;bottom:0}
[switcher] .active{background:#ececec}
#shares_nav[switcher] a,
.switcher[switcher] a{background:#ececec;color:#b4b3b6;line-height:40px;margin:0 2px -1px;border:1px solid #ececec;border-top-left-radius:4px;border-top-right-radius:4px}
#shares_nav[switcher] a.active,
.switcher[switcher] a.active{background:#fff;color:#333;border-bottom:1px solid #fff}
.collect .wrap{background:rgba(255,255,255,0)}.collect .wrap:hover{background:rgba(255,255,255,.3)}.complect{width:100%;border:1px solid #ececec;border-right:0;border-bottom:0}.slick-slider .slick-next,.slick-slider .slick-prev{color:transparent}.slick-slider:hover .slick-next,.slick-slider:hover .slick-prev{color:#adadad}.slick-slider:hover .slick-next:hover,.slick-slider:hover .slick-prev:hover{color:#d00808}.slick-next,.slick-prev{background:0 0;border:0;font-size:0;position:absolute;z-index:50;top:calc(50% - 35px)}.slider-2 .slick-next,.slider-2 .slick-prev{background:0 0;border:1px solid #e7e7e7;border-radius:100px;font-size:0;position:absolute;z-index:50;top:-60px;width:40px;height:40px}.slider-2 .slick-next:hover,.slider-2 .slick-prev:hover{border:1px solid #b4b3b6}.slick-prev{left:0}.slider-2 .slick-prev{left:20px}.slider-2 .slick-prev::after{content:"›";color:#b4b3b6;font-size:40px;line-height:42px;width:10px;-webkit-transform:rotate(180deg);transform:rotate(180deg);-webkit-transition:all .6s;transition:all .6s}.slider-2 .slick-next::after,.slider.main .slick-prev::after{content:"›";-webkit-transition:all .6s}.slider-2 .slick-prev:hover::after{color:#333}.slick-next{right:0}.slider-2 .slick-next{right:20px}.slider-2 .slick-next::after{color:#b4b3b6;font-size:40px;line-height:10px;width:28px;transition:all .6s}.slider-2 .slick-next:hover::after{color:#333}.slider.main .slick-next,.slider.main .slick-prev{border:1px solid #e7e7e7;border-radius:100px;font-size:0;position:absolute;z-index:1;top:calc(50% - 20px);width:40px;height:40px}.slider.main .slick-next:hover,.slider.main .slick-prev:hover{border:1px solid #b4b3b6}.slider.main .slick-prev{left:15px;background:#fff}.slider.main .slick-prev::after{color:#b4b3b6;font-size:40px;line-height:42px;width:10px;-webkit-transform:rotate(180deg);transform:rotate(180deg);transition:all .6s}
.slider-5 .slick-prev::after,
.slider-s .slick-prev::after,
.slider.main .slick-next::after{content:"›";-webkit-transition:all .6s}
.slider.main .slick-prev:hover::after{color:#333}.slider.main .slick-next{right:15px;background:#fff}.slider.main .slick-next::after{color:#b4b3b6;font-size:40px;line-height:10px;width:28px;transition:all .6s}.slider.main .slick-next:hover::after{color:#333}
.slider-5 .slick-next, .slider-5 .slick-prev,
.slider-s .slick-next, .slider-s .slick-prev{border:1px solid #e7e7e7;border-radius:100px;font-size:0;position:absolute;z-index:1;top:calc(50% - 20px);width:40px;height:40px}
.slider-5 .slick-next:hover,.slider-5 .slick-prev:hover,
.slider-s .slick-next:hover,.slider-s .slick-prev:hover{border:1px solid #b4b3b6}
.slider-5 .slick-prev, .slider-s .slick-prev{left:-21px;background:#fff}
.slider-5 .slick-prev::after, .slider-s .slick-prev::after{color:#b4b3b6;font-size:40px;line-height:42px;width:10px;-webkit-transform:rotate(180deg);transform:rotate(180deg);transition:all .6s}
.slider-4 .slick-prev::after,
.slider-5 .slick-next::after,
.slider-s .slick-next::after{-webkit-transition:all .6s;content:"›"}
.slider-5 .slick-prev:hover::after, .slider-s .slick-prev:hover::after{color:#333}
.slider-5 .slick-next, .slider-s .slick-next{right:-21px;background:#fff}
.slider-5 .slick-next::after, .slider-s .slick-next::after{color:#b4b3b6;font-size:40px;line-height:10px;width:28px;transition:all .6s}
.slider-5 .slick-next:hover::after, .slider-s .slick-next:hover::after{color:#333}
.slider-4 .slick-next,.slider-4 .slick-prev{border:1px solid #e7e7e7;border-radius:100px;font-size:0;position:absolute;z-index:1;top:calc(50% - 20px);width:40px;height:40px}
.slick-list,.slick-slider,.slick-track{position:relative;display:block}.slider-4 .slick-next:hover,.slider-4 .slick-prev:hover{border:1px solid #b4b3b6}.slider-4 .slick-prev{left:-14px;background:#fff}.slider-4 .slick-prev::after{color:#b4b3b6;font-size:40px;line-height:42px;width:10px;-webkit-transform:rotate(180deg);transform:rotate(180deg);transition:all .6s}.slider-4 .slick-prev:hover::after{color:#333}.slider-4 .slick-next{right:-14px;background:#fff}.slider-4 .slick-next::after{content:"›";color:#b4b3b6;font-size:40px;line-height:10px;width:28px;-webkit-transition:all .6s;transition:all .6s}.slider-4 .slick-next:hover::after{color:#333}.slick-slider{box-sizing:border-box;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-touch-callout:none;-khtml-user-select:none;-ms-touch-action:pan-y;touch-action:pan-y;-webkit-tap-highlight-color:transparent}.slick-list{overflow:hidden;margin:0;padding:0;height:100%}.slick-list.dragging{cursor:pointer;cursor:hand}.slick-slider .slick-list,.slick-slider .slick-track{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}.slick-track{top:0;left:0;height:100%}.slick-track:after,.slick-track:before{display:table;content:''}.slick-track:after{clear:both}.slick-slide{display:none;float:left;height:100%;min-height:1px}[dir=rtl] .slick-slide{float:right}
.slick-slide img{display:inline-block}
.slick-slide.slick-loading img{display:none}.slick-slide.dragging img{pointer-events:none}.slick-initialized .slick-slide{display:block}.slick-vertical .slick-slide{display:block;height:auto;border:1px solid transparent}
.slick-arrow.slick-hidden{display:none}
.slick-dots{list-style:none;display:-webkit-box!important;display:-ms-flexbox!important;display:flex!important;width:90%;background:rgba(255,255,255,.25);height:10px;margin:7px auto;border-radius:10px}
.slick-dots>li,.slick-dots>li>button{height:20px;font:400 1px/1px arial;/*color:transparent;background:0 0*/}
.slick-dots>li{width:90%}
.slick-dots>li>button{width:100%;border-radius:10px;border:0}


.slick-dots {display:block !important;text-align: center;height:30px;/*border:1px solid red;*/margin:0px auto;}
.slick-dots>li {
	display:inline-block;
	zoom:1;
	/*border:1px solid green;*/
	width:12px;
    margin: 5px 7px;
}
.slick-dots>li>button {
	display: block;
    width: 12px;
    height: 12px;
    filter: Alpha(Opacity=50);
    opacity: 0.5;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    background: #869791;
	padding:0px;
}

/*.slick-dots li button:before {
 font-family: 'slick';
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: '•';
  text-align: center;
  opacity: .25;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}*/

/*.slick-dots>li.slick-active>button{background:#fff;}*/
.slick-dots>li.slick-active>button,
.slick-dots>li>button:hover{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
}


.hidden{opacity:0}
.visible{opacity:1}.animated{-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-fill-mode:both;animation-fill-mode:both}@-webkit-keyframes fadeInUp{0%{opacity:0;-webkit-transform:translateY(20px);transform:translateY(20px)}100%{opacity:1;-webkit-transform:translateY(0);transform:translateY(0)}}@keyframes fadeInUp{0%{opacity:0;-webkit-transform:translateY(20px);transform:translateY(20px)}100%{opacity:1;-webkit-transform:translateY(0);transform:translateY(0)}}.animated.fadeInUp{-webkit-animation-name:fadeInUp;animation-name:fadeInUp}@-webkit-keyframes fadeInLeft{0%{opacity:0;-webkit-transform:translateX(-50px);transform:translateX(-50px)}100%{opacity:1;-webkit-transform:translateX(0);transform:translateX(0)}}@keyframes fadeInLeft{0%{opacity:0;-webkit-transform:translateX(-50px);transform:translateX(-50px)}100%{opacity:1;-webkit-transform:translateX(0);transform:translateX(0)}}.animated.fadeInLeft{-webkit-animation-name:fadeInLeft;animation-name:fadeInLeft}@-webkit-keyframes fadeInRight{0%{opacity:0;-webkit-transform:translateX(50px);transform:translateX(50px)}100%{opacity:1;-webkit-transform:translateX(0);transform:translateX(0)}}@keyframes fadeInRight{0%{opacity:0;-webkit-transform:translateX(50px);transform:translateX(50px)}100%{opacity:1;-webkit-transform:translateX(0);transform:translateX(0)}}.animated.fadeInRight{-webkit-animation-name:fadeInRight;animation-name:fadeInRight}@-webkit-keyframes fadeIn{0%{opacity:0}100%{opacity:1}}@keyframes fadeIn{0%{opacity:0}100%{opacity:1}}.modal,.modal2{opacity:0;max-width:calc(100% - 20px)}.animated.fadeIn{-webkit-animation-name:fadeIn;animation-name:fadeIn}.p0{padding:0!important}.pb0{padding-bottom:0!important}.modal-wrapper{background:rgba(0,0,0,.5);position:fixed;z-index:2000;top:0;left:0;right:0;bottom:0}.modal{position:relative;z-index:2001;margin:0 auto 50px;top:0}
.modal-close.obut{position:absolute;z-index:9999;top:14px;right:20px;color:silver;font:20px Arial}
#item-map .modal-close.obut{top:-30px;right:10px;color:#DDD}
.modal-wrapper2{background:0 0;position:fixed;z-index:2000;top:0;left:0;right:0;bottom:0}.modal2{position:relative;z-index:2001;margin:0 auto;top:0}.modal-close2.obut{position:absolute;z-index:2002;top:14px;right:20px;color:silver;font:20px Arial}
.blured{/*-webkit-filter:blur(2px);filter:blur(2px)*/}
/*.mCustomScrollbar{-ms-touch-action:pinch-zoom;touch-action:pinch-zoom}*/
.mCustomScrollbar{-ms-touch-action:auto;touch-action:auto}
.mCustomScrollBox{position:relative;overflow:hidden;height:100%;max-width:100%;direction:ltr}
.mCSB_inside>.mCSB_container{margin-right:2px}.mCSB_container{overflow:hidden;width:auto;height:auto}.mCSB_scrollTools{position:absolute;width:2px;height:auto;left:auto;top:0;right:0;bottom:0}.mCSB_scrollTools .mCSB_draggerContainer{position:absolute;top:0;left:0;bottom:0;right:0;height:auto}.mCSB_scrollTools .mCSB_draggerRail{background:#e9e9e9;width:2px;height:100%;margin:0 auto;border-radius:16px}.mCSB_scrollTools .mCSB_dragger{cursor:pointer;width:100%;height:30px;z-index:1}.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{background:#000;position:relative;width:2px;height:100%;margin:0 auto;border-radius:16px;text-align:center}
.coll-in-wrap{box-shadow:1px 1px 0 #ececec inset;box-sizing:content-box;}
.coll-in-wrap:after{content:"";display:block;clear:both}
.coll-in-sml{box-shadow:-1px -1px 0 #ececec inset;float:left}
.coll-in-big:nth-child(odd){float:right}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
   /* стили только для IE10 IE11 */
   #content .wa .flex-w .box INPUT {
	   padding-top: 20px;
	   padding-bottom: 20px;
   }
}

.top_sections {
	margin-bottom: 30px;
	display: none;
}
.top_sections a {
	color: #000;
	margin: 5px 20px;
	display: inline-block;
	font-weight: 600;
}

@media (max-width: 1357px) {
	.flex.like>div{width:20%;}
}

@media (max-width: 1180px) {
	.top_sections {
		margin-bottom: 30px;
		display: block !important;
	}
	#favorites{
		top:116px
	}
	#favorites>div::after{right:0px}
	.flex.like{
		display: inline-block;
		border: none;
	}
	.flex.like>div{
		/*clear: both;*/
		float: left;
		width:20%;
		height: 300px;
		box-shadow:-1px -1px 0 0 #ececec inset, 1px 1px 0 0 #ececec inset;
	}
	.like img{
		margin:1px;
	}
}

@media (max-width: 1036px) {
	.flex.like>div{width:25%;}
}

@media (max-width: 849px) {
	.flex.like>div{width:33%;}
}

@media (min-width: 768px) {
	.mCustomScrollbar {
		/*height: 375px;*/
		height: 650px;
	}
	#content>.wa .flex.brd_1.gry3_ {
		border-right: none;
	}
}

#content>.wa .flex.brd_1.gry3_ {
	border-right: none;
}
#content>.wa .flex.brd_1.gry3_ .cat-filter>div {
	border-right: 1px solid #ececec!important;
}

@media (max-width: 660px) {
	.flex.like>div{width:50%;}
}

@media (max-width: 472px) {
	.flex.like>div{width:100%;}
}

.orange_back {
	background: #ffdba2;
}

.orange_back a {
	border-color: none !important;
	border-bottom: none;
}

.slider.main { max-width:100%; }

.metro {
	/*background:url(../img/metro.png) 0 0 no-repeat;*/
}

.metro img {
	margin-bottom:2px;
}
.inliked A.gry1 {
	color: #ccc !important;
	cursor: default !important;
}

.inlb {display: inline-block;}
/*
@media (min-width: 472px) and (max-width:768px) {
	#catcat.row-m>div.w-50 {width:25%;}
}
@media (min-width: 1036px) and (max-width:1180px) {
	#catcat.row-m>div.w-50 {width:25%;}
}
*/
@media (max-width:768px) {
	#catcat.row-b>div.w-50 {
		/*width:80%;
		margin-left: auto;
		margin-right: auto;*/
		/*width:60%;
		margin: 2% 20% 0 20%;
		margin-left: 20%;
		margin-right: 20%;*/
		width:100%;
                max-width: 366px;
		margin: 2% auto 0 auto;
		box-shadow: -1px -1px 0 0 #ececec inset, 1px 1px 0 0 #ececec inset;
	}
	#catcat.row-b>div.w-50 a span.img {
		min-height: 200px;
	}
	#content.row-b>.wa .flex.brd_1.gry3_ {
		border: none;
	}
	#content.row-b>.wa .flex.brd_1.gry3_ .cat-filter {
		border: 1px solid #ececec!important;
	}
	#content.row-b>.wa .flex.brd_1.gry3_ .cat-filter .lnk {
		border: none;
	}
    .coll-item.blc-left .inner {right:auto;left:auto}
    .coll-item.slc-left .inner {right:auto;left:calc(-100% + 1px)}
    .coll-item.slc-right .inner {right:calc(-100% + 1px)}
}

.m-main-menu {}
.m-main-menu .m-item { display: block; }

.catalog_item .price SPAN {white-space: nowrap;}

@media (max-width:340px) {
	.cat-filter A[href="#cat-filter"] {
		font-size: 14px;
	}
}

@media (max-width:312px) {
	.cat-filter A[href="#cat-filter"] {
		font-size: 12px;
	}
}

.collection-filters {}

.collection-filters .filter-price {
    float: right;
}

.collection-filters .filter-row {
    float: left;
}

.collection-filters .selnobor .what-the-size-in,
.collection-filters .selnobor .what-the-size-in1 {
    right: 0;
    left: initial;
}

.catalog-filters {}

.catalog-filters .filter-price {
    float: right;
    margin-right: 5px;
}

.catalog-filters .filter-row {
    float: left;
}

#filters.catalog-filters .filter-row .view-row {
    margin-left:0;
}

.catalog-filters .filter-row .view-row {
    width:30px;
    height:30px;
    display:inline-block;
    background:url("../img/cat/row-2-3.1-f.png") 50% 50% no-repeat;
    margin-left:0;
}

.catalog-filters .filter-row .view-row.view-row-1 {
}
.catalog-filters .filter-row .view-row.view-row-2 {
    background-image:url("../img/cat/row-1-3-f.png");
}

@media (min-width:768px) {
    .catalog-filters .filter-row {
        display: none;
    }
    .catalog-filters {
        display: inline-block;
        width: 100%;
    }
}

@media (max-width:768px) {
    .catalog-filters .filter-title,
    .collection-filters .filter-title{
        display: none;
    }
    .catalog-filters .filter-row .filter-title {
        display: inline-block;
    }
	.catalog-filters .filter-row {
		margin-right:10px;
	}
}

.rozigrish {}

.rozigrish .fs20-f {
    font-size: 1.3em !important;
}

.rozigrish .fs22-f {
    font-size: 1.38em !important;
}

.rozigrish .fs26-f {
    font-size: 1.63em !important;
}

.rozigrish .fs28-f {
    font-size: 1.75em !important;
}

.roz-txt {
    width:90%;
    margin-left:auto;
    margin-right:auto;
}

.roz-txt-min {
    width:80%;
    margin-left:auto;
    margin-right:auto;
}

.roz-txt-min-min {
    width:70%;
    margin-left:auto;
    margin-right:auto;
}

.roz-txt-min-min-min {
    width:60%;
    margin-left:auto;
    margin-right:auto;
}

.roz-txt-min {
    display: inline-block;
}

.rozigrish .roz-block {
    display:inline-flex;
    width:65%;
}

.rozigrish .roz-block.roz-block-n3 {
    width:47%;
}

.rozigrish.v-100-raz .roz-block.roz-block-n3 {
    width:65%;
}

.obmen .rozigrish .roz-block.roz-block-n3 {
    width:80%;
    margin-bottom:30px;
}

.obmen .rozigrish .bg-wrap .roz-block.roz-block-n3 {
    width:100%;
}

#content .roz-block.roz-block-n4 {
    padding-top:40px;
    padding-bottom:40px;
}

#content .roz-block.roz-block-n4 .roz-item-block {
}

#content .roz-block.roz-block-n4 .roz-item-block:first-child {
    margin-left: 7%;
}

#content .roz-block.roz-block-n4 .roz-item-block-min {
    width: 20%;
}

#content .roz-block.roz-block-n4 .roz-item-block-min .roz-item {
    width: 100%;
}

.obmen .rozigrish .roz-block A.roz-item IMG {
    margin-bottom:10px;
    width:50%;
    min-width:67px;
}

.bg-wrap {
    background: #fff7ea;
    /*margin-bottom:-35px;*/
    padding-top:50px;
    padding-bottom:20px;
    display:inline-block;
    width:100%;
}

.rozigrish .bg-wrap .roz-block.roz-block-n3 {
    /*margin-top:-35px;*/
}

.rozigrish .roz-block .roz-item-block {
    width:24%;
    text-align:center;
}

.rozigrish .roz-block .roz-item-block.roz-item-block-min {
    width:24%;
}

.rozigrish .roz-block.roz-block-n3 .roz-item-block {
    width:33%;
}

.rozigrish .roz-block.roz-block-n3 .roz-item-block.roz-item-block-min {
    width:33%;
}

.rozigrish .roz-block .roz-item {
    display:inline-block;
    /*margin:5px 10px;*/
    /*width:145px;*/
    width:20%;
    float:left;
}

.rozigrish .roz-block A.roz-item,
.rozigrish .roz-block DIV.roz-item {
    /*color:#E61563;*/
    /*color:#EB0F69;*/
    color:#A1A2A2;
    font-weight:400;
    /*width:22%;*/
    width:80%;
}

.rozigrish.letoandlove .roz-block .roz-item-block-min DIV.roz-item {
    width:75%;
}

.rozigrish .roz-block .roz-item.roz-item-arr {
    width:20%;
}

.obmen .rozigrish .roz-block A.roz-item {
    float:none;
}

.rozigrish .roz-block .roz-item IMG {
    margin-bottom:10px;
    width:77%;
    min-width:67px;
}
@media (min-width:600px) {
    .rozigrish.letoandlove .roz-block .roz-item IMG {
        width:67%;
        min-width:67px;
    }
}
@media (min-width:768px) {
    .rozigrish.letoandlove .roz-block .roz-item IMG {
        width:58%;
        min-width:58px;
    }
}
.rozigrish.letoandlove .roz-block A.roz-item IMG {
    width:50%;
    min-width:67px;
}
.rozigrish.v-100-raz .roz-block A.roz-item IMG {
    width:50%;
}

.rozigrish .roz-block .roz-item .roz-arrow {
    /*margin-top:40px;*/
}
.rozigrish .roz-block .roz-item IMG.roz-arrow {
    margin-bottom:0;
    /*width:100%;*/
    width:50%;
    min-width:12px;
    /*min-height:43px;*/
}
.rozigrish .roz-block .roz-item-arr {
    /*width:3%;*/
    width:20%;
    /*margin:5px 10px;*/
}
.rozigrish.v-100-raz .roz-block .roz-item-arr {
    width:11%;
}

.rozigrish .roz-shops {
    float: left;
    display: inline-block;
    margin: 0 10px 10px 10px;
}

.obmen .rozigrish .roz-shops {
    padding: 0 10px;
}

.rozigrish .roz-shops.roz-shops-r1 {
    width:29%;
}

.rozigrish .roz-shops.roz-shops-r2 {
    width:34%;
}

.rozigrish .roz-shops.roz-shops-r3 {
    width:30%;
}

.rozigrish .roz-shops .roz-shop-title {
    list-style:none;
    font-size:20px;
    font-weight: 600;
    margin-bottom: 7px;
}

.rozigrish .roz-shops .roz-shop {
    background:url("../img/ac_images/pin.png") 0 25% no-repeat;
    background-size: 6%;
    padding-left:30px;
    min-height:50px;
    list-style:none;
    display:flex;
    margin-bottom:10px;
}

.rozigrish .roz-shops.roz-shops-a .roz-shop {
    background-image:url("../img/ac_images/pin.png");
}

.rozigrish .roz-shops.roz-shops-b .roz-shop {
    background-image:url("../img/ac_images/pinwhite.png");
}

.rozigrish .roz-shops.roz-shops-c .roz-shop {
    background-image:url("../img/ac_images/pingray.png");
}

.rozigrish .roz-shops .roz-shop:hover {
    background-color:#EEEEEE;
}

.rozigrish .roz-shops .roz-shop A {
    text-align: left;
}

.rozigrish .roz-shops .roz-shop .roz-pin {

}

.rozigrish .roz-shops .roz-shop .roz-shop-name {
    text-decoration: underline;
    color: black;
}

.rozigrish .roz-shops .roz-shop .roz-shop-metro {
    float: left;
    font-weight: 300;
    color: #6e6d6f;
    padding-left: 15px;
    background:url("../img/item/metro.png") 0 50% no-repeat;
    margin-right: 7px;
}

/*.rozigrish .roz-shops.roz-shops-metro .roz-shop .roz-shop-address:before {
    content: " / ";
    margin-left: 5px;
    margin-right: 5px;
}*/

.rozigrish .roz-shops .roz-shop .roz-shop-address {
    float: left;
    font-weight: 300;
    color: #b4b3b6!important;
}

.shop-title {
    list-style: none;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 7px;
}

.clear {
    clear: both;
}

.rozigrish p {
    font-size: 1.14em;
}

.roz-botom-tbl {
    width: 73%;
    margin-left:auto;
    margin-right:auto;
}

.roz-botom-tbl TD {
    vertical-align:middle;
    text-align:left;
    padding-top: 10px;
}

.roz-botom-tbl TR TD:first-child {
    width:70px;
}

.roz-botom-tbl TR TD:last-child {
}

.roz-botom-tbl TD P {
    margin-left:32px;
}

.shop-separator {
    display:none;
}

.chestnye-skidki-40 .cat-button {
    width:250px;
}

@media (max-width:1036px) {
    .rozigrish .roz-shops {
        /*margin: 0 5px 5px 5px;*/
    }
    .shop-separator {
        clear:both;
        display:block;
        height:1px;
    }
    .rozigrish .roz-shops.roz-shops-r1,
    .rozigrish .roz-shops.roz-shops-r2{
        width:40%;
    }

    .rozigrish .roz-shops.roz-shops-r1{
        /*margin-bottom: 10px;*/
    }

    .rozigrish .roz-shops.roz-shops-r2{
        float:right;
    }

    .rozigrish .roz-shops.roz-shops-r3{
        width:40%;
        float:none;
    }

    .rozigrish .shops-other .roz-shops.roz-shops-r3{
        float:right;
    }

}

@media (max-width:768px) {
    .rozigrish {
        font-size: 14px;
    }
    .rozigrish .roz-shops.roz-shops-r1,
    .rozigrish .roz-shops.roz-shops-r2,
    .rozigrish .roz-shops.roz-shops-r3{
        width:350px;
        float:none;
    }
    .rozigrish .shops-other .roz-shops.roz-shops-r3{
        float:none;
    }

    /*.bg-wrap {
        padding-top:50px;
        padding-bottom:20px;
    }*/

    #content .roz-block.roz-block-n4 {
        width: 90%;
    }

}

@media (max-width:660px) {
    .rozigrish .roz-block {
        display:inline-block;
    }
    .rozigrish .roz-block.roz-block-n3 {
        width:65%;
    }
    .rozigrish .roz-block .roz-item-block,
    .rozigrish .roz-block .roz-item-block.roz-item-block-min{
        width:48%;
        float:left;
    }

    .rozigrish .roz-block.roz-block-n3 .roz-item-block,
    .rozigrish .roz-block.roz-block-n3 .roz-item-block.roz-item-block-min
    {
        width:33%;
        float:left;
    }

    .rozigrish .roz-block.roz-block-n3 A.roz-item {
        width:75%;
        margin-right:0%;
    }

    .rozigrish .roz-block A.roz-item {
        width:64%;
        margin-right:7%;
    }

    .rozigrish .roz-block .roz-item IMG.roz-arrow {
        width:40%;
        min-width:10px;
    }

    .bg-wrap {
        padding-bottom:30px;
    }

    .roz-botom-tbl {
        width: 90%;
    }

    .roz-botom-tbl TR TD:first-child {
        width:50px;
    }

    .roz-botom-tbl TR TD:last-child {
    }

    .roz-botom-tbl TD P {
        margin-left:10px;
    }

    .obmen .roz-botom-tbl.roz-txt-min.white-block TR TD:first-child {
        width: auto;
    }

    #content .roz-block.roz-block-n4 {
        width: 90%;
    }

    #content .roz-block.roz-block-n4 .roz-item-block {
        width: 48%;
    }

    #content .roz-block.roz-block-n4 .roz-item-block:first-child {
        margin-left: 0;
    }

    #content .roz-block.roz-block-n4 .roz-item-block-min {
        width: 48%;
    }

    #content .roz-block.roz-block-n4 .roz-item-block-min .roz-item {
        width: 64%;
    }

    .roz-block.roz-block-n4 .roz-item-separator {
        clear: both;
        display: block;
        width: 100%;
        height: 1px;
    }

}

@media (max-width:480px) {
    .rozigrish {
        font-size: 12px;
    }

    .rozigrish .roz-txt {
        width:95%;
    }

    .rozigrish .roz-txt-min {
        width:90%;
    }

    .obmen .rozigrish .roz-txt-min.bg-wrap,
    .obmen .rozigrish .roz-block.roz-block-n3,
    .obmen .rozigrish>.bg-wrap
    {
        width:90%;
    }

    .rozigrish .roz-block {
        display:inline-block;
    }

    .rozigrish .roz-block.roz-block-n3 {
        width:75%;
    }
    .rozigrish.v-100-raz .roz-block.roz-block-n3 {
        width:90%;
    }
    .rozigrish .roz-block .roz-item {
        float:left;
    }

    .rozigrish .roz-shops.roz-shops-r1,
    .rozigrish .roz-shops.roz-shops-r2,
    .rozigrish .roz-shops.roz-shops-r3{
        width:100%;
    }

    .roz-botom-tbl {
        width: 100%;
    }

    .roz-botom-tbl TR TD:first-child {
        width:40px;
    }

    .roz-botom-tbl TR TD:last-child {
    }

    .roz-botom-tbl TD P {
        margin-left:5px;
    }

    .chestnye-skidki-40 .cat-button {
        width:63%;
        min-width:150px;
    }

    .obmen .subscribe FORM,
    .gray-page .subscribe FORM {
        margin: 10px;
    }

}

@media (max-width:350px) {
    .rozigrish .roz-block.roz-block-n3 {
        width:85%;
    }
    .rozigrish .roz-block A.roz-item IMG {
        min-width:50px;
    }
    .rozigrish .roz-block .roz-item IMG.roz-arrow {
        min-width:7px;
    }

    .obmen .subscribe FORM,
    .gray-page .subscribe FORM {
        margin: 5px;
    }
}

A.notlnk {
    cursor:default;
}

A.pinklnk {
    color:#E61563;
}

.txt-black {
    color:#000;
}

.obmen #content .wa>*,
.rozigrish.obmen,
.gray-page #content .wa>*,
.rozigrish.gray-page {
    background: #F8F8F8;
}

.obmen .bg-wrap {
    width: 80%;
}

.obmen .bg-wrap.bg-wrap-100 {
    width: 100%;
}

.obmen .roz-botom-tbl.roz-txt-min.white-block {
    /*padding:25px;*/
}

.obmen .roz-botom-tbl.roz-txt-min.white-block TBODY,
.gray-page .roz-botom-tbl TBODY {
    padding:25px;
    display:inline-block;
    float:left;
}

.obmen .roz-botom-tbl.roz-txt-min.white-block TR TD:first-child,
.gray-page .roz-botom-tbl TR TD:first-child {
    width: 220px;
    font-weight: 600;
}

.obmen .roz-botom-tbl.roz-txt-min.white-block TR TD:last-child,
.gray-page .roz-botom-tbl TR TD:last-child {

}

.gray-page .chestnye-skidki-40 .roz-botom-tbl {
    width: 60%;
}

.gray-page .chestnye-skidki-40 .roz-botom-tbl TR TD:first-child {
    width: 235px;
    text-align: right;
}

.gray-page .chestnye-skidki-40 .roz-botom-tbl TR TD:first-child IMG {
    margin-right: 30px;
}

.obmen-txt {
    padding-left:70px;
    min-height: 30px;
    background: url("../img/ac_images/obmen.png") 20px center no-repeat;
    background-size: 30px;
    text-align: left;
}

.white-block {
    background: #FFF;
}

.yellow-block {
    background: #fff7ea;
}

.subscribe {
    width: 100%;
    max-width:1100px;
    display: inline-block;
}

.subscribe .item {
    float:left;
}

.subscribe .item INPUT {

}

.subscribe INPUT[type="submit"] {

}

.subscribe FORM {
    margin: 40px 40px 30px 30px;
    display: flex;
}

.subscribe.unsms {
    box-shadow: 0 0 6px 2px #e7e7e7;
}

#sms_form .subscribe.unsms {
    box-shadow: none;
}

.subscribe FORM[name="subscribeform_black"] {
    display: inline-block;
    margin: 20px;
    margin-bottom: 0;
}
#sms_form .subscribe FORM[name="subscribeform_black"] {
    margin: 0;
}

.subscribe-mini FORM {
    display: inline-block;
    margin: 0;
    width: 100%;
    max-width:244px;
}
.subscribe.unsms.subscribe-mini {
    box-shadow: none;
}

#footer-m .subscribe.unsms.subscribe-mini FORM H3 {
    text-align: center;
}

.m-center {
    margin-left: auto;
    margin-right: auto;
    float: none;
}

.subscribe .item.m-center {
    float: none;
    width: 60%;
}

@media (max-width:768px) {
    .subscribe .item.m-center {
        width: 100%;
    }
}

.subscribe.unsms.subscribe-mini FORM .maskphone {
    border-top: none;
    border-left: none;
    border-right: none;
}

.subscribe FORM .item {
    padding-left: 10px;
    padding-bottom: 10px;
}

.subscribe.unsms FORM .item {
    padding-left:0px;
    padding-bottom: 20px;
}

.subscribe FORM .item.w-m-40 {
    width: 35%;
}

.subscribe FORM .item.w-m-20 {
    width: 20%;
}

.subscribe .form-txt {
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

.pftxt {
    font-size: 20px;
    font-weight: 600;
}

.obmen .subscribe,
.gray-page .subscribe {
    width: 80%;
    display: flex;
    margin: 0px auto 0px auto;
}

.gray-page .subscribe.subscribe-mini {
    width: 100%;
    display: inline-block;
}

.obmen .subscribe FORM,
.gray-page .subscribe FORM {
    width: 100%;
    display: inline-block;
}

.obmen .subscribe FORM H3,
.gray-page .subscribe FORM H3 {
    text-align: center;
    margin-bottom: 20px;
}

.obmen .subscribe INPUT[type="submit"],
.gray-page .subscribe INPUT[type="submit"] {
    min-width: 130px;
}

@media (max-width:768px) {
    .subscribe FORM[name="subscribeform_black"] .item.w-m-40 {
        width: 100%;
    }
    .subscribe FORM[name="subscribeform_black"] .item {
        padding-right: 10px;
        box-sizing: border-box;
    }
}

@media (max-width:660px) {
    .subscribe FORM .item.w-m-40 {
        width: 100%;
    }

    .subscribe FORM .item.w-m-20 {
        width: 100%;
    }

    .obmen .roz-botom-tbl.roz-txt-min.white-block TR TD:first-child,
    .roz-botom-tbl.tbl-flex TR TD:first-child {
        width: 100%;
        padding:5px;
        float: left;
        font-weight: 600;
    }

    .gray-page .chestnye-skidki-40 .roz-botom-tbl TR TD:first-child {
        width: 100%;
    }
    .gray-page .roz-botom-tbl.tbl-flex TR TD:first-child {
        text-align: center;
    }
    .gray-page .roz-botom-tbl.tbl-flex TR TD:first-child IMG {
        margin-right: 0;
    }
    .gray-page .chestnye-skidki-40 .roz-botom-tbl TR TD:first-child IMG {
        width: 70px;
    }
    .obmen .roz-botom-tbl.roz-txt-min.white-block TR TD:last-child,
    .roz-botom-tbl.tbl-flex TR TD:last-child {
        width: 100%;
        padding:5px;
        float: left;
        text-align: center;
    }
}

.obmen .roz-botom-tbl UL {
    /*list-style-position: inside;*/
}

.asterix {
    margin-right: 5px;
    vertical-align: sub;
    height: 10px;
    display: inline-block;
}

A .asterix,
A.asterix{
    cursor: pointer;
}

@media (max-width:350px) {
    .gray-page .chestnye-skidki-40 .roz-botom-tbl {
        width: 90%;
    }

    .gray-page .chestnye-skidki-40 .roz-botom-tbl TR TD:first-child {
        width: 100%;
    }

    .gray-page .chestnye-skidki-40 .roz-botom-tbl TR TD:first-child IMG {
        width: 80px;
    }

    .gray-page .chestnye-skidki-40 .roz-botom-tbl TR TD:last-child {
        text-align: center;
        margin-bottom: 15px;
    }

}

.obmen #menu,
.gray-page #menu{
    margin-bottom:0;
}

@media (max-width:1179px) {
    .obmen #menu,
    .gray-page #menu{
        margin-bottom:22px;
    }
}

#subscribe {
    /*background:url(<?=SITE_TEMPLATE_PATH?>/img/item/subscr.jpg) center/cover no-repeat*/
    background:#FFF7EA;
}

.desk .header-menu {
    float: right;
    width: 257px;
    margin-top:10px;
}
/*
.desk .header-menu>* {
    margin-left: 40px;
    display: inline-block;
    height: 26px;
}
*/
.header-menu .basket_icon {
    float: left;
    /*margin-top:10px;*/
    margin-top: -3px;
    border:0;
}

.actions_icon {
    float:left;
    margin-bottom:13px;
    border:0;
}
.favorites_show {
    float:right;
    margin-bottom:13px;
    border:0;
}

.header-menu .basket_icon {
    padding-left:12px;
}
.header-menu .actions_icon {
    padding-left:12px;
}
.header-menu .favorites_show {
    padding-right:17px;
}

.header-menu .hm-counter {
    float: right;
    width: 0px;
    height: 0px;
    direction:rtl;
    line-height:15px;
}

.header-menu .hm-counter>div {
    position: absolute;
    direction:ltr;
}

.header-menu .hm-counter>div>div {
    position: relative;
    top:0px;
    left:2px;
    border-radius: 10px;
    background: #e69b1c;
    color: #FFF;
    min-width: 15px;
    min-height: 15px;
    font-size:11px;
}

.header-menu>* SPAN {
    display: inline-block;
}

.header-menu>* .basket-summ {
    color:#000;
    margin-left:20px;
    display: inline-block;
}

.header-menu>* .basket-summ:after {
    content:'₽';
    margin-left:5px;
}

.header-menu .basket-empty .hm-counter,
.header-menu .basket-empty .basket-summ {
    display:none;
}

.slider.main .sm_item IMG {
    max-width:100%;
    width:100%;
}

.cblack {
    color:#000 !important;
}

.cpink {
    color:#EB0F69 !important;
}

.tnw {
    white-space: nowrap;
}

.di-ib { display:inline-block; }

.vacancy {}

.vacancy .vacancy-block {
    width: 50%;
    margin-bottom:20px;
    padding-top:30px;
    padding-bottom:0px;
    font-size: 22px;
}

.vacancy .vacancy-block H3 {
    font-size: 22px;
    text-transform: uppercase;
    background: #EB0F69;
    display: inline-block;
    color: #FFF;
    padding: 5px 10px;
    margin-bottom: 20px;
}
.vacancy .vacancy-block H3 A {
    color: #FFF;
}

.vacancy .vacancy-block .price {
    font-size: 1.3em;
    color:#EB0F69;
}

.yt { color:#e89a1e; }

.txt-bold { font-weight:600; }

.vacancy .bg-wrap.yellow-block,
.vacancy .bg-wrap.white-block {
    padding-top:20px;
}

@media (max-width:900px) {
    .vacancy .vacancy-block {
		width: 60%;
	}
}

@media (max-width:660px) {
    .vacancy .vac-ul {
		margin-left: 20px;
		width: 80%;
	}
    .vacancy .vacancy-block {
		width: 80%;
	}
}

@media (max-width:478px) {
    .vacancy .vacancy-block {
		width: 95%;
	}
}

@media (max-width:400px) {
    .vacancy .vacancy-block H3 {
		width: 100%;
	}
    .vacancy .vacancy-block H3 A {
		display: inline-block;
	}
}

.steps-tbl {

}

.steps-tbl .step-number {
	width: 100%;
	/*height: 100%;*/
	display: inline-block;
	margin-bottom: 30px;
}

.steps-tbl TD.step-number {
	width: 80px;
	height: 100%;
}

.steps-tbl .step-number .step-img {
	float: left;
}

.steps-tbl .step-number IMG {
	width: 200px;
	float: left;
}

.steps-tbl .step-content {
	float: left;
	width: calc(100% - 200px);
}

.steps-tbl .step-content .title {
	float: left;
	margin-left: 20px;
	font-size: 22px;
	font-weight: 400;
	margin-bottom: 10px;
}

.steps-tbl .step-content .txt {
	float: left;
	margin-left: 20px;
}

.steps-tbl .step-right .step-img {
	float: right;
}

.steps-tbl .step-right .step-content .title {
	float: left;
	margin-left: 0px;
	margin-right: 20px;
}

.steps-tbl .step-right .step-content .txt {
	float: left;
	margin-left: 0px;
	margin-right: 20px;
}

.steps-tbl .step-number TABLE {
	width: 100%;
	height: 100%;
}

.steps-tbl .step-number TD {
	width: 100%;
	/*height: 30%;*/
}

.steps-tbl .step-number .step-center TD {
	height: 30px;
}

.steps-tbl .step-content IMG {
	width: 200px;
	float: left;
}

.izdeliya-na-zakaz .form-txt {
	padding: 20px;
}

.izdeliya-na-zakaz .subscribe {
	width: 100%;
}

.izdeliya-na-zakaz .subscribe FORM .item.w-m-20 {
	width: 25%;
}

@media (max-width:1024px) {
	.izdeliya-na-zakaz .subscribe FORM .item.w-m-20 {
		width: 23%;
	}
	.izdeliya-na-zakaz .roz-txt-min-min {
		width: 80%;
	}
	.izdeliya-na-zakaz .roz-txt-min-min-min {
		width: 70%;
	}
	.steps-tbl .step-number IMG {
		width:150px;
	}
}

@media (max-width:768px) {
	.izdeliya-na-zakaz .subscribe FORM .item.w-m-20 {
		width: 20%;
	}
}

@media (max-width:660px) {
	.izdeliya-na-zakaz .subscribe FORM .item.w-m-20 {
		width: 100%;
	}
	.izdeliya-na-zakaz .steps-tbl .step-number .step-img {
		width: 100%;
	}
	.izdeliya-na-zakaz .step-content {
		width: 100%;
	}
	.izdeliya-na-zakaz .steps-tbl .step-content .title,
	.izdeliya-na-zakaz .steps-tbl .step-content .txt {
		margin-left: 0;
	}
	.izdeliya-na-zakaz .steps-tbl .step-content .title {
		margin-top: 10px;
	}
	.izdeliya-na-zakaz .steps-tbl .step-content .txt {
		text-align: justify;
	}
	.izdeliya-na-zakaz .steps-tbl .step-number {
		box-shadow: 0 -1px 0 0 #ececec inset;
		margin-bottom: 15px;
		padding-bottom: 15px;
	}
	.izdeliya-na-zakaz .steps-tbl {
		margin-bottom: 10px;
	}
	.izdeliya-na-zakaz .block-last>* {
		width: 90%;
		margin-left: auto;
		margin-right: auto;
	}
    .izdeliya-na-zakaz .vac-ul {
		margin-left: 20px;
	}
}

@media (max-width:480px) {
	.izdeliya-na-zakaz .subscribe FORM {
		margin: 40px 40px 30px 30px;
	}
}

.ptt40 {
	padding-top: 40px;
}

.tog-small-txt {
    max-height:200px;
    overflow: hidden;
}

.empty-hide:empty {
    display: none;
}

.switcher.nojs {
    border-bottom: 1px solid transparent;
    box-shadow: -3px -1px 2px 0px #ddd inset;
}
.switcher.nojs a {
    color:#e69b1c;
    margin-bottom:0;
    /*background:#FFF;*/
    background:none;
    border:1px solid #dedede;
    /*border-bottom-color: #DDD;*/
    border-bottom: none;
    box-shadow: 0px -8px 7px -7px #ddd inset;
}
.switcher.nojs a.active {
    background: #F8F8F8;
    /*background:#FFF;*/
    color: #888;
    border-bottom: none;
    border-color: #ddd;
    box-shadow: 1px -1px 2px 0px #ddd;
}

.switcher.nojs a span {
}

.about .switcher.nojs a {
    background: #FFF;
    display: inline-block;
    margin-top: -7px;
}

.gray-page .switcher.nojs a {
    background: #FFF;
    display: inline-block;
    margin-top: -7px;
}

.gray-page .switcher.nojs a.active {
    background: #F8F8F8;
}

.switcher.nojs a:last-child {
    margin-right: 7px;
}

.switcher_wrap {
    width: 100%;
    overflow: hidden;
    padding-top:4px;
}

.switcher_wrap .switcher {
    width: calc(100% + 5px);
    display: inline-block;
    text-align: left;
    padding-top: 7px;
}

@media (max-width:480px) {
	.switcher_wrap .switcher.nojs a {
		padding: 0 6px;
	}
}

.izdeliya-na-zakaz .subscribe,
.vacancy .vacancy-block {
    box-shadow: 0px 0px 6px 2px #ddd;
}

.fleft {
    float: left;
}

.fright {
    float: right;
}

.slider-half {
    width: calc(45% - 20px);
    margin-bottom: 40px;
    margin-left:10px;
    margin-right:10px;
}

.slider-half:empty {
    display: none;
}

.slider-half .slider-def-1 {
    width: 220px;
}

.slider-half .slider-def-2 {
    width: 75%;
}

.slider-half.slider-full {
    width: 60%;
    float: none;
    margin-left: auto;
    margin-right: auto;
}

.slider-half.slider-full H2 {
    text-align: center;
}

.slider-half:empty {
    display: none;
}

.slider-left {
    float: left;
}

.slider-right {
    float: right;
}

.slider-half .slick-initialized .slick-slide {
    /*height: 400px;*/
}

.slider-half .slick-initialized .slick-slide>a:first-child  {
    height: 360px;
}

@media (max-width:1240px) {
    .slider-half .slider-def-1 {
        width: 220px;
    }

    .slider-half .slider-def-2 {
        width: 100%;
    }
}

@media (max-width:768px) {
    /*.slider-half .slider-def-1 {
        width: 100%;
    }*/
    .slider-half.slider-full,
    .slider-half {
        width: 220px;
        float: none;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width:478px) {
    /*.slider-half {
        width: 95%;
    }*/
}

.price-old {
    margin:0 20px;
    text-decoration:line-through;
}
@media (max-width:478px) {
    .price-old {
        margin-left:calc(52px + 25%);
    }
}

@media (max-width:469px) {
    .slider.main.ver_pc {
        display:none;
    }
}
@media (min-width:470px) {
    .slider.main.ver_mobile {
        display:none;
    }
}

#auth_form .bft-i-wrap {
    padding-bottom: 20px;
    text-align: left;
}

#auth_form .bft-i-wrap LABEL {
    width: 100%;
    /*display: inline-block;*/
    display: none;
    line-height: 35px;
}

#auth_form .bft-i-wrap INPUT {
    width: 100%;
    padding: 10px;
}

#auth_form .bft-i-wrap INPUT[type="submit"] {
    margin-top: 10px;
}

#auth_form .message {
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #FBF0DF;
    background: #FFF7ea;
    color: #DD0000;
}

#auth_form .message:empty {
    display: none;
}

@media (max-width:1240px) {
    #auth_form .bft-i-wrap {
        padding-bottom: 0;
    }
}

.abanner .ab-pc,.abanner .ab-m {
    display: none;
}

@media (max-width:469px) {
    .abanner .ab-m {
        display: inline-block;
    }
}
@media (min-width:470px) {
    .abanner .ab-pc {
        display: inline-block;
    }
}

.mob-search {

}

@media (max-width:560px){
    .hid-on-micro {
       display: none;
    }
}

.cert-block {

}

.cert-block .cert-block-line {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    display: inline-block;
}

.cert-block .cert-block-line .cert-block-item {
    width: 50%;
    display: inline-block;
    float: left;
}

.cert-block .cert-block-line.cert-block-line-s3 .cert-block-item {
    width: 33%;
}
.cert-block .cert-block-item .cert-image {
    padding: 10px;
}
.cert-block .cert-block-item .cert-title {
    padding: 10px;
}
.cert-block .cert-block-item .cert-button {
    padding: 10px;
}

@media (max-width:600px){
    .cert-block .cert-block-line .cert-block-item,
    .cert-block .cert-block-line.cert-block-line-s3 .cert-block-item {
        width: 100%;
        margin-bottom: 20px;
    }
    .cert-block .cert-block-line {
        margin-bottom: 0;
    }
}

@media (max-width:660px){
    .bottom-text.roz-txt-min-min-min {
        width: 80%;
    }
}

#content .collect A SPAN {
    /*font-family:"rosamarena";*/
}
/*
#content .collect A SPAN STRONG {
    font-family:"rosamarena";
    text-transform: none !important;
    font-size:45px !important;
    margin-top:15px;
}
*/

#catalog_items #filters H1 {
    width: auto;
    float: left;
    margin-right: 40px;
}

.formBlock__form {
    margin-top: 7%;
}

.formBlock__form .message {
    padding:11px 20px;
    /*box-shadow: 0 0 3px 0 #ececec;*/
    width:100%;
    margin-top:15.5%;
    border: 1px solid #ececec;
}

.formBlock__form .message:empty {display:none;}

.ajax_form_card BUTTON[type="submit"] {
    float: right;
}

@media (max-width:1250px){
    .formBlock__form {
        margin-top: 0;
    }

    .formBlock__form .formBlock_wrap {
        width: 100%;
    }
}

@media (max-width:768px){
    .formBlock__form .message {
        width:100%;
        margin-top:8%;
    }
    #catalog_items #filters H1 {
        width: 100%;
        float: none;
        margin-right: 0;
    }
}

.mh-c {
    margin-left: auto;
    margin-right: auto;
}

.mw-0 {
    max-width:0;
}
.mw-100 {
    max-width:100%;
}

.shop-list {
}

.shop-list-wrap {
    padding:0 20px 20px 20px;
    background:#FFF;
    width:80%;
    margin-left:auto;
    margin-right:auto;
    box-shadow: 0 0 6px 2px #e7e7e7;
}

.shop-list-tbl {
    width: 100%;
}

.shop-list-tbl-mob {
    width: 100%;
    border-collapse: collapse;
}

.shop-list-tbl TH {
    text-align:left;
    border-bottom: 1px solid #ececec;
}

.shop-list-tbl TD {
    border-bottom: 1px solid #ececec;
}

.shop-list-tbl .city-line {
    text-align:left;
}
.shop-list-tbl.shop-list-tbl-mob .city-line {
    width:100%;
}
.shop-list-tbl .city-line DIV {
    display:inline-block;
}

.shop-list-tbl .sl-city {
    text-align:left;
}
.shop-list-tbl .sl-weight {
    text-align:left;
}
.shop-list-tbl .sl-met {
    text-align:left;
}
.shop-list-tbl .sl-size {
    text-align:left;
}
.shop-list-tbl .sl-desc {
}
.shop-list-tbl .sl-desc .with-ico {
    /*background: #e89a1e url(../img/card/down_white.png) 97% 50% no-repeat!important;*/
    border: 1px solid #e89a1e;
    background: #fff url(../img/card/down_yellow.png) 97% 50% no-repeat!important;
    color: #e89a1e!important;
    background-size: 18px;
    padding-right: 35px;
    line-height: 40px;
}
@media(max-width:500px){
    .shop-list-tbl .sl-desc .with-ico {
        line-height: 30px;
    }
}
@media(max-width:350px){
    .shop-list-tbl .sl-desc .with-ico {
        background: #fff!important;
        padding-right: 10px;
    }
}
.shop-list-tbl .sl-price {
    text-align:right;
    padding-right:20px;
}
.shop-list-tbl .sl-price .sl-buy {
    display: none;
    float: right;
}
.shop-list-tbl .sl-price .sl-buy IMG {
    margin-bottom: 3px;
}
.shop-list-tbl TH.sl-price {
    padding-right:40px;
}
.shop-list-tbl .sl-price .price-tag {
    width:100%;
    display: inline-block;
}
.shop-list-tbl .sl-price .price-old {
    margin:0px;
    box-sizing: border-box;
}
.shop-list-tbl .sl-price .price-old SPAN {
    margin-right:8px;
}
.shop-list-tbl.shop-list-tbl-mob .sl-price .price-old SPAN {
    margin-right:0;
}
.shop-list-tbl .sl-buy {
    text-align:right;
    width: 23px;
    min-width: 23px;
}

.shop-list-tbl .city-name {
    margin-right: 20px;
    color: #000;
    font-weight: 600;
}

.shop-list-tbl .city-name.arr-dwn:after {
    right: -5px;
}
.shop-list-tbl .city-name.arr-dwn.active:after {
    transform: rotate(-90deg);
}

.shop-list-tbl .all-shops.arr-dwn {
    cursor:pointer;
}

.shop-list-tbl .city-line .count_shops {
    margin-left: 40px;
}

.shop-list-tbl .all-shops-item {
    display: none;
}

.shop-list-tbl .all-shops-item.active {
    display: table-row;
}

.mfp-content .stock_list {
    background: #fff;
    border-radius: 4px;
    box-shadow:-1px -1px 0 0 #ececec inset, 1px 1px 0 0 #ececec inset;
    max-width:1300px;
    margin-left: auto;
    margin-right: auto;
}

@media(max-width:1480px){
    .mfp-content .stock_list {
        max-width:90%;
    }
}

@media(max-width:680px){
    .mfp-content .stock_list {
        max-width:inherit;
    }
}

.shop-list-tbl-mob {
    display: none;
    width: 100%;
}
.main-jk-banners {

}

.main-jk-banners .main-jk-banner {
    width:49%;
    /*box-shadow: 0 0 6px 2px #e7e7e7;*/
}

.main-jk-banners .main-jk-banner.fleft {
    background:#FCECD3;
}

.jk-banner-balls {
    background:#FCECD3 url(../img/main/banner-jk-balls.jpg) 0 0 no-repeat;
    background-size: contain;
    display:inline-block;
    width:100%;
    height:100%;
    /*min-height:385px;*/
}

.jk-banner-balls FORM {
    background:none;
    margin: 40px;
    margin-top: 125px;
    width:47%;
}

.jk-banner-balls FORM INPUT {
    display:flex;
    width: 100%;
    float:right;
}

.jk-banner-balls .message {
    /*border:1px solid red;*/
    display:inline-block;
    width: 330px;
    margin-right: 40px;
    margin-bottom: 57px;
    text-align: right;
    float: right;
    color: #333!important;
}

.jk-banner-inz {
    /*background:url(../img/main/banner-izdelie-na-zakaz.jpg) 0 0 no-repeat;
    background-size: contain;*/
    display:inline-block;
    width:100%;
    /*min-height:385px;*/
}

.jk-banner-inz A {
    /*float: right;*/
    /*margin-top: 220px;*/
    /*margin-right: 40px;*/
    /*position: absolute;
    right:40px;*/
}

.jk-banner-inz .pa-layer {
    margin-top: 240px;
    position: absolute;
    left:calc(50% + 10px);
    width:47%;
    max-width:637px;
}

.jk-banner-inz .pa-layer-layer {
    float:right;
}

/*@media(max-width:1350px){
    .jk-banner-balls .message {
        margin-bottom: calc(4% * 2);
    }
}*/

.jk-banner-balls .message .tmini {
    display: none;
}

@media(max-width:1240px){
    .jk-banner-balls .message {
        margin-bottom: 30px;
    }
    .jk-banner-balls FORM {
        margin-top: 100px;
    }
    .jk-banner-inz .pa-layer {
        margin-top: 214px;
    }
}

@media(max-width:1160px){
    .jk-banner-balls FORM {
        margin-bottom: 30px;
    }
}

@media(max-width:1100px){
    .jk-banner-balls FORM {
        margin-bottom: 20px;
        margin-right: 30px;
    }
    .jk-banner-balls .message {
        margin-right: 30px;
    }
}

@media(max-width:1060px){
    .jk-banner-balls .message {
        margin-bottom: 20px;
    }
    .jk-banner-balls FORM {
        margin-top: 75px;
        margin-bottom: 15px;
    }
    .jk-banner-inz .pa-layer {
        margin-top: 189px;
    }
}

@media(max-width:1010px){
    .main-jk-banners .main-jk-banner {
        width:650px;
        height:385px;
        float:none;
        margin-left:auto;
        margin-right:auto;
    }
    .jk-banner-balls FORM {
        margin-top: 115px;
        margin-bottom: 40px;
    }
    .jk-banner-inz .pa-layer {
        width:325px;
    }
    .jk-banner-inz .pa-layer-layer {
        margin-right:40px;
    }
}

@media(max-width:680px){
    .main-jk-banners .main-jk-banner {
        width:100%;
        height:100%;
        float:none;
        margin-left:auto;
        margin-right:auto;
    }
    .jk-banner-inz .pa-layer {
        width:50%;
        left: 50%;
    }
    .jk-banner-inz .pa-layer-layer {
    }
}

@media(max-width:600px){
    .jk-banner-balls FORM {
        margin-top: 85px;
        margin-bottom: 30px;
    }
    .jk-banner-inz .pa-layer {
        margin-top: 175px;
    }
}

/*@media(max-width:550px){
    .jk-banner-balls FORM {
        margin-top: 75px;
        margin-bottom: 10px;
        width:100%;
    }
    .jk-banner-balls FORM .maskphone {
        width: 220px;
    }
    .jk-banner-balls FORM .cardnum {
        width: 130px;
        float: left;
    }
    .jk-banner-balls FORM .submit {
        width: 50px;
    }
}*/

@media(max-width:550px){
    .jk-banner-balls {
        padding:30px;
        box-sizing: border-box;
        background-size: contain;
   }
    .jk-banner-balls FORM {
        margin-top:62px;
        margin-bottom:5px;
        margin-left:0;
        margin-right:0;
        width: 220px;
    }
    .jk-banner-balls FORM .maskphone {
        width:160px;
        float:right;
    }
    .jk-banner-balls FORM .cardnum {
        width:160px;
        float:right;
    }
    .jk-banner-balls FORM .submit {
        width:45px;
        margin-left: 40px;
    }
    .jk-banner-balls .message {
        margin-right: 10px;
        margin-top: 10px;
        margin-bottom: 0px;
        font-size: 15px;
    }
    .jk-banner-balls .message .tfull {
        display: none;
    }
    .jk-banner-balls .message .tmini {
        display: inline-block;
    }

    .ajax_form_card label {
        position: absolute;
        right: 170px;
        width: 145px;
    }

    .ajax_form_card label[for="number"] {
        top: 58px;
    }
    .jk-banner-inz .pa-layer {
        margin-top: 160px;
    }
}

@media(max-width:470px){
    /*.jk-banner-inz .pa-layer {
        margin-top: 140px;
    }*/
    .jk-banner-inz .pa-layer {
        position: static;
        float: right;
        margin-top: 60%;
    }
    .jk-banner-inz IMG {
        display: none;
    }
    .jk-banner-inz {
        background:url(../img/main/banner-izdelie-na-zakaz.jpg) 0 0 no-repeat;
        background-size: contain;
        display:inline-block;
        width:100%;
        /*min-height:385px;*/
    }
}

@media(max-width:430px){
    /*.jk-banner-inz .pa-layer {
        margin-top: 130px;
    }*/
}

@media(max-width:400px){
    .jk-banner-balls {
        box-sizing: border-box;
        /*min-height: 385px;*/
        min-height: 438px;
        background-image:url(../img/main/banner-jk-balls-m.jpg);
   }
    .jk-banner-balls .message {
        width: 130px;
    }
    .ajax_form_card label {
        width: 100px;
        font-size:13px;
    }
    /*.jk-banner-inz .pa-layer {
        margin-top: 120px;
    }*/
}

@media(max-width:340px){
    .jk-banner-balls {
        padding:20px;
   }
}

.gift-cards {

}

.gift-cards .tblock {
    width:48%;
    text-align:justify;
}

.gift-cards .tblock-left {
    float: left;
}

.gift-cards .tblock-right {
    float: right;
}

.gift-cards .tblock P {
    margin-bottom:30px;
}

.gift-cards .white-block {
    padding-top:40px;
}

@media(max-width:1024px){
    .gift-cards .tblock {
        width:100%;
    }
    .gift-cards > * {
        text-align:justify;
    }
    .gift-cards .white-block {
        text-align:center;
    }
}

.card-banners {
    margin-bottom: 40px;
    display: inline-block;
}

.card-banners .banner-block {
    width: 48%;
}

.card-banners .banner-block.bb-left {
    float: left;
}

.card-banners .banner-block.bb-right {
    float: right;
}

.card-banners .banner-block .button-block {
    width:0;
    height:0;
    float:right;
    direction: rtl;
}

.card-banners .banner-block .button-block A {
    position:relative;
    top:40%;
    margin-right:20px;
}

@media(max-width:480px){
    .card-banners .banner-block .button-block A {
        background: rgba(232, 154, 30, 0.7)!important;
    }
}

@media(max-width:1024px){
    .card-banners .banner-block {
        width: auto;
        margin-left:auto;
        margin-right:auto;
    }
    .card-banners .banner-block.bb-left,
    .card-banners .banner-block.bb-right {
        float: none;
    }
}

.tss .tss-iss IMG {
    width: 60px;
}

.tss .tss-iss {
    font-size: 16px;
}

.gray-page .chestnye-skidki-40.tss .roz-botom-tbl.tss-iss TR TD:first-child {
    width: auto;
}

.gray-page .roz-botom-tbl.tss-iss TBODY {
    float: none;
}

@media(max-width:660px){
    .gray-page .chestnye-skidki-40.tss .roz-botom-tbl.tss-iss TR TD:first-child {
        width: 100%;
    }
    .gray-page .chestnye-skidki-40.tss .roz-botom-tbl.tss-iss TR TD:last-child {
        margin-bottom: 20px;
    }
}

.gray_circle {
    border-radius: 100px;
    /*background: #b4b3b6;*/
    background: #F8F8F8;
    /*color: #6e6d6f;*/
    color: #b4b3b6;
    min-width: 15px;
    min-height: 15px;
    font-size: 11px;
    display: inline-block;
    padding: 18px 12px;
    font-size: 1.75em;
    margin-right: 30px;
}

.gray_circle SPAN {
    font-size: 0.7em;
    line-height: 1.45em;
    display: inline-block;
    vertical-align: top;
    position: relative;
    top: 2px;
}

.fis .tss-iss TD {

}

BODY.gray-page {

}
BODY.gray-page #content #navigation {
    padding: 0;
}
BODY.gray-page #content #navigation>.wa>div {
    padding: 16px 20px 30px 20px;
}

.club-jk-faq {

}

.club-jk-faq .fleft,
.club-jk-faq .fright {
    box-shadow:-1px -1px 0 0 #ececec inset, 1px 1px 0 0 #ececec inset;
    width: 49.5%;
}

.club-jk-faq .content {

}

.club-jk-faq TD {
    box-shadow:-1px -1px 0 0 #ececec inset, 1px 1px 0 0 #ececec inset;
    width: 50%;
    padding: 20px;
}

.club-jk-faq TD P {
    margin-bottom: 20px;
}

.club-jk-faq TD.small {
    font-size: 0.75em;
}

.club-jk {}

.club-jk .subscribe {}

.club-jk .subscribe .item.w-100.w-m-20 {
    width:30%;
    float: none;
    margin-left: auto;
    margin-right: auto;
}
.club-jk .subscribe .item.w-100.w-m-40 {
    width: 48%;
}
.club-jk .yellow-block H2 {
    font-size:1.65em;
}
.club-jk .yellow-block P {
    font-size:0.85em;
}
.mfp-content .pu-content {
    padding-bottom: 17px;
    /*background: #fff7ea;*/
    background: #fff;
    width: 480px;
    margin: auto;
}

.mfp-content .pu-content > P {
    padding: 20px;
}

.mfp-content .pu-content H5 {
    font-size: 1.7em;
}

.mfp-content .pu-content .pu-logo {
    padding-top: 30px;
    padding-bottom: 10px;
    text-align: center;
    margin-left: 44px;
}

.mfp-content .pu-content .mfp-close {
    color: #000;
}

.mfp-content .pu-content P A:first-child {
    margin-right: 44px;
}

@media(max-width:555px){
    .mfp-content .pu-content {
        width: 90%;
    }
    .mfp-content .pu-content H5 {
        font-size: 1.3em;
    }
    .mfp-content .pu-content P A:first-child {
        margin-right: 10px;
    }
}

@media(max-width:490px){
    .mfp-content .pu-content P A:first-child {
        margin-right:0;
        margin-bottom:20px;
    }
    .mfp-content .pu-content P A {
        min-width:75%;
    }
}

@media(max-width:450px){
    .mfp-content .pu-content H5 {
        font-size: 1.0em;
    }
}

@media(max-width:350px){
    .mfp-content .pu-content P A {
        width:90%;
    }
}

.shop-list-tbl .sl-city .officeItem.txt-l .buy__result_item .buy__result_link .shop_name {
    text-decoration: underline;
    color: black;
}
.shop-list-tbl .sl-city .officeItem.txt-l .buy__result_item .buy__result_link .shop_addr {
    display:none;
    color:#FFF;
    padding:5px;
    white-space: nowrap;
}
.shop-list-tbl.shop-list-tbl-mob .sl-city .officeItem.txt-l .buy__result_item .buy__result_link .shop_addr {
    white-space: normal;
    /*background:url("../img/card/down_white.png") 4px 6px no-repeat;*/
    /*background-size:18px;*/
    /*text-indent:25px;*/
    text-indent:5px;
    display: inline-block;
    width:100%;
}
.shop-list-tbl .sl-city .officeItem.txt-l .buy__result_item .buy__result_link .shop_addr IMG {
    margin-right:10px;
    height: 17px;
}
.shop-list-tbl .sl-city .officeItem.txt-l .buy__result_item .buy__result_link .shop_addr .shop_phone {
    float:right;
    color:#333;
    margin-right:10px;
}
.shop-list-tbl .sl-city .officeItem.txt-l .buy__result_item .metro {
    margin-left:10px;
}
.shop-list-tbl .stone-weight {
    font-size: 0.8em;
}
.shop-list-tbl-mob .item-line-card {
    display: none;
}
.shop-list-tbl-mob .item-line-card TD {
    padding: 0;
}
.shop-list-tbl-mob .item-line-card .wrap {
    margin-top: -40px;
    position: relative;
    background: #fff;
    /*height: 0px;*/
    overflow: hidden;
}
@media(min-width:1px){
    .shop-list-tbl-mob .item-line-card .wrap {
        margin-top: -26px;
    }
}
@media(min-width:420px){
    .shop-list-tbl-mob .item-line-card .wrap {
        margin-top: -36px;
    }
}
@media(min-width:460px){
    .shop-list-tbl-mob .item-line-card .wrap {
        margin-top: -40px;
    }
}
.shop-list-tbl-mob .item-line-card.no-metro .wrap {
    margin-top: -18px;
}
.shop-list-tbl.shop-list-tbl-mob .item-line-card .wrap .item-data {
    width: 100%;
}
.shop-list-tbl.shop-list-tbl-mob .item-line-card .wrap .item-data TD {
    padding: 0;
    text-align: left;
    vertical-align: top;
}
.shop-list-tbl.shop-list-tbl-mob .item-line-card .wrap .item-data .options {
    width: 100%;
}
.shop-list-tbl.shop-list-tbl-mob .item-line-card .wrap .item-data .image {
    width: 50%;
}
.shop-list-tbl.shop-list-tbl-mob .item-line-card .wrap .item-data .title {
    font-size: 1.6em;
    font-weight: 600;
    color: #000;
}
.shop-list-tbl.shop-list-tbl-mob .item-line-card .wrap .item-data .articul {
    color: #b4b3b6;
    padding-bottom: 10px;
}
.shop-list-tbl.shop-list-tbl-mob .item-line-card .wrap .item-data .hname,
.shop-list-tbl.shop-list-tbl-mob .item-line-card .wrap .item-data .hval {
    color: #666;
    padding: 3px;
}
.shop-list-tbl.shop-list-tbl-mob .item-line-card .wrap .item-data .hname {
    color: #666;
}
.shop-list-tbl.shop-list-tbl-mob .item-line-card .wrap .item-data .hval {
    color: #666;
    white-space: nowrap;
}
.shop-list-tbl.shop-list-tbl-mob .item-line-card .wrap .item-data .hname:after {
    content: ':';
}
.shop-list-tbl.shop-list-tbl-mob .item-line-card .wrap .item-data .footer-line {
}
.shop-list-tbl.shop-list-tbl-mob .item-line-card .wrap .shop-data {
    padding: 2px;
}
.shop-list-tbl.shop-list-tbl-mob .item-line-card .wrap .shop-data P {
    padding: 1px;
}
.shop-list-tbl.shop-list-tbl-mob .item-line-card .wrap .item-data .footer-line .footer-wrap {
    white-space: nowrap;
    vertical-align: middle;
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;
    width: 100%;
}
.shop-list-tbl.shop-list-tbl-mob .item-line-card .wrap .item-data .footer-line .card-buy {
}
.shop-list-tbl.shop-list-tbl-mob .item-line-card .wrap .item-data .footer-line .have-disc .card-buy {
    padding-top: 15px;
}
.shop-list-tbl.shop-list-tbl-mob .item-line-card .wrap .item-data .footer-line .card-buy A {
    line-height: 40px;
    padding-left: 20px;
    padding-right: 20px;
}
.shop-list-tbl.shop-list-tbl-mob .item-line-card .wrap .item-data .footer-line .card-price {
    padding-top: 6px;
    text-align: center;
    cursor: pointer;
}
.shop-list-tbl.shop-list-tbl-mob .item-line-card .wrap .item-data .footer-line .have-disc .card-price {
    height: 55px;
    padding-top: 0;
}
.shop-list-tbl.shop-list-tbl-mob .item-line-card .wrap .item-data .footer-line .card-price .price-old {
    margin: auto;
}
@media(max-width:1024px){
    .shop-list-tbl {
        display: none;
    }
    .shop-list-tbl.shop-list-tbl-mob {
        display: inline-table;
    }

    .shop-list-tbl-mob .sl-city .officeItem.txt-l .buy__result_item .metro {
        margin-top:3px;
    }
    .shop-list-wrap {
        width: 100%;
        padding: 0;
        box-shadow: none;
    }
    /*.shop-list-tbl .sl-city {
        width: 90%;
    }*/
    .shop-list-tbl TH {
        display: none;
    }
    .shop-list-tbl TD {
        width: 100%;
        float: left;
        text-align: center;
        padding: 10px;
        border-bottom: none;
        box-sizing: border-box;
    }
    .shop-list-tbl.shop-list-tbl-mob TD {
        width: auto;
        float: none;
        text-align: center;
        padding: 10px;
        border-bottom: none;
        box-sizing: border-box;
    }
    .shop-list-tbl.shop-list-tbl-mob .city-line {
        text-align:left;
    }
    .shop-list-tbl .sl-price .price-tag {
        width: auto;
    }
    .shop-list-tbl-mob .sl-price {
        width: 100%;
        display:block;
        cursor:pointer;
    }
    .shop-list-tbl TD.sl-buy {
        width: 20%;
        float: right;
        text-align: center;
        margin-bottom: 20px;
        display: none;
    }
    .shop-list-tbl.shop-list-tbl-mob TD.sl-buy {
        width: 60px;
        min-width: 60px;
        float: none;
        text-align: center;
        margin-bottom: 20px;
        display: table-cell;
    }
    .shop-list-tbl.shop-list-tbl-mob TD.sl-buy A {
        max-width: 100%;
        width: 100%;
    }
    .shop-list-tbl.shop-list-tbl-mob TD.sl-buy A IMG {
        max-width: 100%;
        width: 100%;
        margin-bottom: 10px;
    }
    .shop-list-tbl .sl-weight,
    .shop-list-tbl .sl-met,
    .shop-list-tbl .sl-size,
    .shop-list-tbl .sl-desc,
    .shop-list-tbl .sl-price
    {
        text-align: center;
    }
    .shop-list-tbl .sl-met
    {
        display: none;
    }
    .shop-list-tbl .sl-weight,
    .shop-list-tbl .sl-size
    {
        width: 15%;
    }
    .shop-list-tbl .sl-desc,
    .shop-list-tbl .sl-price
    {
        width: auto;
    }
    .shop-list-tbl .sl-price
    {
        float: right;
        text-align: center;
        padding: 10px;
        white-space: nowrap;
    }
    .shop-list-tbl-mob .sl-price
    {
        white-space: normal;
    }
    .shop-list-tbl .sl-price .sl-buy {
        display: inline-block;
    }
    .shop-list-tbl .sl-desc .txt-l {
        text-align: center;
    }
    .shop-list-tbl .sl-city .officeItem.txt-l {
        /*text-align: center;*/
    }
    .shop-list-tbl .sl-city .officeItem.txt-l .buy__result_item > P {
        width: 100%;
    }
    .shop-list-tbl .sl-city .officeItem.txt-l .buy__result_item .buy__result_link {
        background-color:#b4b3b6;
    }
    .shop-list-tbl .sl-city .officeItem.txt-l .buy__result_item .buy__result_link A {
        text-decoration:none;
    }
    .shop-list-tbl .sl-city .officeItem.txt-l .buy__result_item .buy__result_link .shop_addr {
        display:block;
    }
    .shop-list-tbl .sl-city .officeItem.txt-l .buy__result_item .buy__result_link .shop_addr .tline {
        /*display:inline-block;*/
        overflow:hidden;
    }
    .shop-list-tbl .sl-city .officeItem.txt-l .buy__result_item .buy__result_link .shop_name {
        display:none;
    }
    .shop-list-tbl .sl-city .officeItem, .adress,
    .shop-list-tbl .sl-city .officeItem, .worktime,
    .shop-list-tbl .sl-count {
        display: none;
    }
    .shop-list-tbl .sl-weight:empty,
    .shop-list-tbl .sl-met:empty,
    .shop-list-tbl .sl-size:empty,
    .shop-list-tbl .sl-desc:empty,
    .shop-list-tbl .sl-price:empty
    {
        display: none;
    }
    .shop-list-tbl .is_not_first
    {
        padding-top: 40px;
    }
}

@media(max-width:500px){
    .shop-list-tbl .city-line .count_shops {
        display: none;
    }
}

@media(max-width:420px){
    .shop-list-tbl-mob .sl-price .fs26 {
        font-size: 20px!important;
    }
    .shop-list-tbl-mob .sl-price .price-old {
        display: block;
        width: 100%;
    }
    .shop-list-tbl-mob {
        font-size: 14px;
    }
    .shop-list-tbl.shop-list-tbl-mob TD {
        padding: 5px;
        display: table-cell;
    }
    .shop-list-tbl.shop-list-tbl-mob TD.sl-buy {
        width: 40px;
        min-width: 40px;
    }
    .shop-list-tbl.shop-list-tbl-mob .sl-city .officeItem.txt-l .buy__result_item .buy__result_link .shop_addr {
        /*text-indent:20px;*/
    }
    .shop-list-tbl.shop-list-tbl-mob .sl-city .officeItem.txt-l .buy__result_item .buy__result_link .shop_addr * {
        text-indent:0;
    }
}

@media(max-width:360px){
    .shop-list-tbl-mob {
        font-size: 0.7em;
    }
    .shop-list-tbl-mob .sl-desc A {
    }
    .shop-list-tbl-mob .fs18,
    .shop-list-tbl.shop-list-tbl-mob .sl-price .fs18 {
        font-size: 1.0em!important;
    }
    .shop-list-tbl-mob .fs26,
    .shop-list-tbl.shop-list-tbl-mob .sl-price .fs26{
        font-size: 1.15em!important;
    }
    .shop-list-tbl.shop-list-tbl-mob TD {
        padding: 2px;
    }
    .shop-list-tbl.shop-list-tbl-mob TD.sl-buy {
        width: 35px;
        min-width: 35px;
    }
    .shop-list-tbl.shop-list-tbl-mob TD.sl-buy A IMG {
        margin-bottom: 0;
    }
}

@media(max-width:380px){
    .shop-list-tbl .mobile-hide {
        display: none;
    }
}

@media(max-width:460px){
    .shop-list-tbl-mob {
        font-size: 0.8em;
    }
    .shop-list-tbl-mob .sl-desc A {
    }
    .shop-list-tbl-mob .fs18,
    .shop-list-tbl.shop-list-tbl-mob .sl-price .fs18 {
        font-size: 1.1em!important;
    }
}

@media(max-width:480px){
    .shop-list-tbl .mobile-hide.lvl480 {
        display: none;
    }
    .shop-list-tbl-mob .fs26,
    .shop-list-tbl.shop-list-tbl-mob .sl-price .fs26{
        font-size: 1.3em!important;
    }
}

@media(max-width:560px){
    .shop-list-tbl .mobile-hide.lvl560 {
        display: none;
    }
}

.shop-list-tbl .sl-city .officeItem .onmore {
    display: none;
    margin-left: 10px;
}
.shop-list-tbl .sl-city .officeItem .onmore A.shop_name {
    color: inherit;
}
.shop-list-tbl .sl-city .officeItem.active .onmore {
    display: block!important;
}

@media(max-width:760px){
    .shop-list-tbl.shop-list-tbl-mob .item-line-card .wrap .item-data .footer-line .fs18 {
        font-size: 1.2em!important;
    }
    .shop-list-tbl.shop-list-tbl-mob .item-line-card .wrap .item-data .footer-line .fs26 {
        font-size: 1.5em!important;
    }
    .shop-list-tbl.shop-list-tbl-mob .item-line-card .wrap .item-data .footer-line .card-buy A {
        line-height: 40px;
        padding-left: 12px;
        padding-right: 12px;
    }
}

@media(max-width:650px){
    .shop-list-tbl.shop-list-tbl-mob .item-line-card .wrap .item-data .footer-line .card-buy {
        width: 100%;
        margin-top: 10px;
    }
    .shop-list-tbl.shop-list-tbl-mob .item-line-card .wrap .item-data .footer-line .card-buy A {
        width: 100%;
        text-align: center;
    }
}

#content .stock_list {
    margin-bottom: 20px;
}

.all-sizes-list {
    list-style-type: none;
    display: inline-block;
    font-size: 0.75em;
}

.shop-list-tbl .all-sizes-list {
    display: none;
    position: absolute;
    max-width: 276px;
    padding-top: 5px;
    padding-left: 5px;
    background: #fff;
    box-shadow: 0 0 6px 2px #e7e7e7;
    z-index: 20;
}

.all-sizes-list LI {
    width: 40px;
    float: left;
    text-align: center;
    vertical-align: middle;
    padding: 4px 0;
    /*background: #ececec;*/
    margin: 0 5px 5px 0;
    /*border: 1px solid #666;*/
    border: 1px solid #ececec;
    cursor: pointer;
    color: #e89a1e;
}
.all-sizes-list LI:hover,
.all-sizes-list LI.active {
    /*background: #fcfcfc;*/
    /*border: 1px solid #bbb;*/
    border: 1px solid #e89a1e;
    color: #e89a1e;
}

.hide-by-size {display: none!important;}

.show_more_block,
.catalog_pagination {
    display: none;
}

.scroll-top {
    position: fixed;
    right: 20px;
    bottom: 20px;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    font-size: 40px;
    line-height: 35px;
    color: #e89a1e;
    width: 40px;
    height: 40px;
    border: 1px solid #e89a1e;
    border-radius: 100px;
    /*display: none;*/
    opacity: 0;
}
