@import url('https://fonts.googleapis.com/css?family=Roboto:100,400,700,900&subset=cyrillic');

div.news-list
{
	word-wrap: break-word;
}
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}




#content {
  padding-top: 22px;
}
#menu{margin-bottom:0}
.mt20 {margin-top: 20px;}
.mb30 {margin-bottom: 30px;}
.pl20{padding-left:20px}
.pb10{padding-bottom:20px}
.center-block {margin: auto;}
.search-bar-input {
  font-size: 14px;
  width: 100%;
  padding: 5px 0;
  margin-left: 11px;
  background: transparent;
  border: none;
  border-bottom: 1px solid #ececec;
}
.karat-offer {
  background: url('../bg_image_decktop_regular.jpg') no-repeat top center;
}
.karat-vip {
  background: url('../bg_image_desktop_VIP.jpg') no-repeat top center;
}
.karat-title {
  line-height: 1.6;
  font-size: 30px;
  margin: 50px 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  text-transform: uppercase;
}
.karat-offer-title {
  color: #2e2f32;
}
.karat-vip-title {
  color: #fff;
}
.karat-offer-title b {
  font-weight: 400;
}
.karat-offer-howto {
  color: #333333;
  padding: 30px 15px;
  background: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.07);
}
.karat-vip-list,
.karat-offer-list {
  margin: 20px 0 30px;
}
.karat-vip-list_item ,
.karat-offer-list_item {
  /*margin: 0 8px;*/
  font-weight: 400;
  margin: 10px 0;
  padding: 30px 30px 30px 100px;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: #e89a1e;
}
.karat-vip-list_item {
  /*border: 2px solid linear-gradient(to top, #e5b971 0%, #e2c9a0 100%);*/

	  border: 2px solid transparent;
	  -moz-border-image: -moz-linear-gradient(to top, #e5b971 0%, #e2c9a0 100%);
	  -webkit-border-image: -webkit-linear-gradient(to top, #e5b971 0%, #e2c9a0 100%);
	  border-image: linear-gradient(to top, #e5b971 0%, #e2c9a0 100%);

	  border-image-slice: 1;
}
.karat-offer-list_item-1 {
  background: url('../pin-icon-1.png') no-repeat top left, #fafafa;
}
.karat-offer-list_item-2 {
  background: url('../gifts-icon.jpg') no-repeat center left, #fafafa;
}
.karat-offer-list_item-3 {
  background: url('../dogs-icon.jpg') no-repeat center left, #fafafa;
}
.karat-vip-list_item-1 {
  background: url('../dogs-1s.png') no-repeat center left 5px;
}
.karat-vip-list_item-2 {
  background: url('../write-icon.png') no-repeat center left 15px;
}
.karat-vip-list_item-3 {
  background: url('../pin-icon-2.png') no-repeat center left 15px;
}
.karat-offer-list_item b {
  font-weight: 700;
}
.karat-vip-list_item .num,
.karat-offer-list_item .num {
  font-size: 24px;
  font-weight: 900;
  margin-right: 9px;
}
.ylw2,
.karat-vip-list_item a,
.karat-vip-list_item .num {
  color: #e5b971;
}
.karat-vip-howto {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}
.karat-vip-howto-header {
  color: #fff;
  padding: 30px 15px 40px;
  background-color: #33302e;
}
.karat-vip-howto-body {
  padding-top: 30px;
  background-color: #ffffff;
}
.karat-vip-howto-footer {
  background-color: #fafafa;
  padding: 0 20px;
}
.karat-vip-howto-footer .item {
    padding-left: 10px;
    padding-bottom: 10px;
}
.karat-vip-form {
  font-weight: 400;
}
.karat-vip-form button {
  border: 1px solid transparent;
}
.karat-vip-form,
.karat-vip-cat {
  margin: 30px auto;
}
.karat-vip-cat__item {
  margin-bottom: 20px;
}
.karat-vip-cat__item input {
  display: none;
}
.karat-vip-cat__item label {
  width: 143px;
  height: 143px;
  display: block;
  margin: auto;
  text-align: center;
  line-height: 143px;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(49, 51, 50, 0.3);
  border: 2px solid #e5b971;
  background-color: #ffffff;
  cursor: pointer;
}
.karat-vip-cat__item input:checked + label {
  background-color: #fde5be;
}
.title-tag {
  color: #333333;
  font-weight: 400;
  text-transform: uppercase;
  position: relative;
  padding-top: 20px;
}
.title-tag:before {
  content: '';
  width: 102px;
  height: 2px;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;right: 0;
  margin: auto;
  background-color: #e5b971;
}
.bb1 {
  border-bottom: 1px solid #ececec;
}
#map select {
  color: #e89a1e;
  font-size: 16px;
  margin-left: 10px;
  padding-right: 10px;
  background: url('../arrow-down.png') no-repeat right center;
  border: none;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
#map span {
  color: #333333;
  font-weight: 500;
}
@media (min-width:768px){
	.w-m-65{width:65%}
	.w-m-35{width:35%}
}
@media (min-width:1180px){
    .w-l-25{width:25%}
    .w-l-32{width:32%}
    .w-l-65{width:65%}
    .w-l-80{width:80%}
}
@media (max-width:660px) {
  .flex-w-m {
    flex-wrap: wrap;
  }
  .karat-offer {
    background: url('../bg_image_mobile_regular.jpg') no-repeat top center;
  }
  .karat-vip {
    background: url('../bg_image_mobile_VIP.jpg') no-repeat top center;
  }
  .fs18.txt-bold.mb30 {
    font-size: 16px !important;
    margin-bottom: 12px;
  }
  .karat-title {
    font-size: 22px;
    margin-bottom: 120px;
  }
  .karat-vip-list_item, .karat-offer-list_item {
      padding: 20px 10px 20px 100px;
  }
  .karat-vip-list_item-2 {
    background: url('../write-icon.png') no-repeat top 20px left 5px;
  }
  .karat-vip-list_item-3 {
    background: url('../pin-icon-2.png') no-repeat top 20px left 5px;
  }
}
