div.news-list
{
	word-wrap: break-word;
}
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}




/* //NEW */
/* //NEW */
/* //NEW */
/* //NEW */
@media (min-width:768px){
	.w-m-65{width:65%}
	.w-m-35{width:35%}
}
@media (min-width:1180px){
    .w-l-30{width:30%}
    .w-l-41{width:41%}
    .w-l-43{width:43%}
    .w-l-57{width:57%}
    .w-l-70{width:71%}
    .w-l-50{width:50%}
    .plr45 {
        padding: 0 45px;
    }
}
.relative {
    position: relative;
}
.thin {
    font-weight: 100;
}
.flex-st{align-items:stretch;}
#menu {
    margin-bottom: 0;
}
.karat-diam {
  color: #2e2f32;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.karat-diam__item {
    color: #333333;
    font-weight: 100;
    line-height: 24px;
    margin-bottom: 30px;
    b {
        font-weight: 300;
    }
}
.karat-diam__item:first-child {
    padding: 70px 45px;
    background: url('../diam-1.jpg') no-repeat center / cover;
}
.karat-diam__item:nth-child(2) {
    margin-bottom: 140px;
    padding: 35px 50px 45px;
    background: url('../brilliant.png') no-repeat bottom left, #fff;
}
.karat-diam__item:nth-child(2) .karat-diam-img {
    position: absolute;
    top: -15px;
    right: 0;
}
.karat-diam__item:nth-child(3) {
    padding: 75px 50px;
    background: url('../diamond-2.png') no-repeat bottom 15px right, #fff;
}
.karat-diam__item:nth-child(3) .karat-diam-img {
    position: absolute;
    bottom: 0;
    left: 0;
}
.karat-diam__item:nth-child(4) {
    margin-bottom: 70px;
    padding: 40px 50px 100px;
    background-color: #fff;
}
.karat-diam__item:nth-child(4) .karat-diam-img {
    position: absolute;
    top: 0;
    right: 0;
}
.karat-diam__item:nth-child(5) {
    padding: 30px 50px;
    background: url('../diam-6.jpg') no-repeat center / cover, #fff;
}
.karat-diam__item:nth-child(6) .karat-diam-inner {
    left: auto;
    top: 36px;
}
.karat-diam__item:nth-child(7) {
    padding: 85px 50px 130px;
    margin-bottom: 80px;
    background: url('../diamond-3.png') no-repeat center left / auto 100%, #fff;
}
.karat-diam__item:nth-child(7) .karat-diam-img {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
}
.karat-diam__item .karat-diam-img img {
    height: 100%;
}
.karat-diam__item:nth-child(7) h2:before {
    content: '';
    position: absolute;
    left: 0;right: 0;
    bottom: -15px;
    margin: auto;
    width: 90px;
    height: 3px;
    background-color: #2e2f32;
}
.karat-diam-i {
    position: absolute;
    bottom: -40px;
    left: 17%;
}

.karat-diam__item h2 {
    font-size: 30px;
    line-height: 1.6;
    position: relative;
    margin-bottom: 30px;
}
.karat-diam-inner {
    position: absolute;
    top: 50px;
    left: 50px;
    right: 10px;
}


.mauto {
  margin: 0 auto;
}

@media (max-width:1179px){
    .karat-diam-i {
        display: none;
    }
    .karat-diam-inner {
        top: 22px;
    }
    .karat-diam__item h2 {
        margin-bottom: 10px;
    }
    .karat-diam__item:first-child {
        padding: 45px;
    }
    .karat-diam__item:nth-child(2),
    .karat-diam__item:nth-child(4) {
        margin-bottom: 30px;
    }
    .karat-diam__item:nth-child(3) {
        padding: 57px 50px;
    }
    .karat-diam__item:nth-child(3) .karat-diam-img,
    .karat-diam__item:nth-child(4) .karat-diam-img,
    .karat-diam__item:nth-child(7) .karat-diam-img {
        width: 47%;
    }
    .karat-diam__item:nth-child(7) .karat-diam-img img,
    .karat-diam__item:nth-child(4) .karat-diam-img img,
    .karat-diam__item:nth-child(3) .karat-diam-img img {
        height: auto;
    }
    .karat-diam__item:nth-child(4) {
        padding: 27px 50px;
    }
    .karat-diam__item:nth-child(4) .karat-diam-i {
        left: 10px;
        top: 15px;
    }
    .karat-diam__item:nth-child(5) {
        padding: 15px 40px;
    }
    .karat-diam__item:nth-child(6) .karat-diam-inner {
        right: 14px;
        left: 14px;
        top: 25px;
    }
    .karat-diam__item:nth-child(6) .mb20 {
        margin-bottom: 10px;
    }
    .karat-diam__item:nth-child(7) {
        padding: 23px 40px;
        margin-bottom: 30px;
    }
}

@media (max-width:1023px){
    .karat-diam__item {
        line-height: 18px;
    }
    .karat-diam__item h2 {
        font-size: 22px;
    }
    .karat-diam__item p {
        font-size: 14px;
    }
    .karat-diam-inner {
        top: 8px;
        left: 5px;
        right: 5px;
    }
    .mb30 {
        margin-bottom: 10px;
    }
    .karat-diam__item:nth-child(3) .karat-diam-img,
    .karat-diam__item:nth-child(4) .karat-diam-img,
    .karat-diam__item:nth-child(7) .karat-diam-img {
        width: auto;
    }
    .karat-diam-img {
        position: relative !important;
        top: 0 !important;
    }
    .w-m-50 {
        padding: 0 5px;
    }
    .karat-diam__item:nth-child(2) {
        padding: 25px 20px;
    }
    .karat-diam__item:nth-child(7),
    .karat-diam__item:nth-child(4),
    .karat-diam__item:nth-child(3) {
        padding: 15px;
    }
}

@media (max-width:767px){
    .karat-diam__item:nth-child(7) {
        background: url('../mob-6.jpg') no-repeat bottom center / 100% auto, url('../diamond-3.png') no-repeat top left, #fff;
    }
    .karat-diam__item:nth-child(6) {
        background: url('../mob-4.jpg') no-repeat top center / 100% auto, url('../mob-5.jpg') no-repeat bottom center / 100% auto, #fff;
    }
    .karat-diam__item:nth-child(5) {
        background: url('../mob-3.jpg') no-repeat center / 100% auto, #fff;
    }
    .karat-diam__item:nth-child(4) {
        background: url('../mob-2.jpg') no-repeat bottom center / 100% auto, #fff;
    }
    .karat-diam__item:nth-child(3) {
        background: url('../mob-1.jpg') no-repeat top center / 100% auto, url('../diamond-2.png') no-repeat bottom right -50px, #fff;
    }
    .karat-diam__item:nth-child(7) > div:last-child {
        height: 89vw;
    }
    .karat-diam__item:nth-child(6) > div:first-child {
        height: 65vw;
    }
    .karat-diam__item:nth-child(6) > div:last-child {
        padding-top: 10px;
        height: 100vw;
    }
    .karat-diam__item:nth-child(4) > div:last-child {
        margin-top: 5px;
        height: 100vw;
    }
    .karat-diam-inner {
        position: static;
    }
    .karat-diam__item:nth-child(3) > div:first-child {
        height: 140vw;
    }
    .karat-diam__item:nth-child(7) .karat-diam-img,
    .karat-diam__item:nth-child(6) .karat-diam-inner + img,
    .karat-diam__item:nth-child(4) .karat-diam-img > img,
    .karat-diam__item:nth-child(3) > div:first-child img {
            display: none;
    }
    .karat-diam-i {
        display: block;
        position: static !important;
    }
    .karat-diam__item:nth-child(2) {
        background: #fff;
    }
    .karat-diam__item {
        padding: 15px !important;
        line-height: 24px;
        margin-bottom: 15px !important;
    }
    .karat-diam__item p {
        font-size: 16px;
    }
}
