.slider-full {
  margin-bottom: 60px;
}
.backbtn {
  padding: 4px 7px;
  border: 1px solid #ececec;
}
.brs1 {
  border-right: 1px solid #ececec;
}
#navigation a.backbtn::after {
  content: "" !important;
}
.pl20 {
  padding-left: 20px;
}
.catalog_item .btn {
  padding: 0 3px;
}
.price-old {
  margin: 0 10px;
}
.all-sizes-list {
  font-size: 14px;
}
.all-sizes-list LI {
    width: 59px;
    float: left;
    text-align: center;
    vertical-align: middle;
    padding: 7px 6px;
    margin: 0 6px 6px 0;
    border: 1px solid #ececec;
    cursor: pointer;
    color: #b4b3b6;
}
.all-sizes-list LI:hover,
.all-sizes-list LI.active {
  border-color: #e89a1e;
}
.variants {
  display: inline-block;
  width: 75px;
  margin-right: 15px;
  text-align: center;
  line-height: 80px;
  height: 80px;
  border: 1px solid #e89a1e;
  background-color: #ffffff;
}

.accordion
{
  width:100%;
  /*min-height:300px;*/
  margin:20px auto;
  text-align: left;
}
.accordion-item {
padding: 10px 0;
height: 20px;
border-bottom:1px solid #ececec;
color: #b4b3b6;
font-size: 14px;
text-transform: uppercase;
cursor:pointer;
}

.accordion-item.open .type {
float: right;
background: url('../arrow-up.svg') center no-repeat;
padding: 10px;
}

.accordion-item .type {
float: right;
background: url('../arrow-down.svg') center no-repeat;
padding: 10px;
}

div.data {
background: #fff;
margin: 0 10px 0 10px;
padding: 10px;
display:none;
}



/* //new */
.card-discont {
  padding: 4px 8px !important;
  margin: 0 10px;
}
.card-label {
  display: flex;
  cursor: pointer;
}
.card-label-header {
  background: url('../discount-icon.png') no-repeat center;
  width: 47px;
  height: 25px;
  line-height: 25px;
  text-align: right;
  padding-right: 10px;
  color: #ffffff;
  font-size: 16px;
}
.card-label-body {
  height: 23px;
  border-radius: 0 3px 3px 0;
  border: 1px solid #e89a1e;
  border-left: none;
  text-align: center;
  padding: 0 10px;
  line-height: 25px;
  color: #e89a1e;
  font-size: 14px;
}
.tooltip {
  display: none;
  max-width: 420px;
  position: absolute;
  right: 0;
  top: 40%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.14);
  background-color: #ffffff;
  padding: 15px 30px;
  z-index: 11;
  box-sizing: border-box;
}
.tooltip:after {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 9px 14px 9px;
  border-color: transparent transparent #ffffff transparent;
  position: absolute;
  left: 0;right: 0;
  top: -14px;
  margin: auto;
  filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.14));
}
.tooltip-item {
  position: relative;
}
.tooltip-item:first-child:after {
  content: '';
  background: url('../arrow-d.png') no-repeat center;
  width: 44px;
  height: 19px;
  position: absolute;
  top: 12px;
  right: -39px;
}
.tooltip-item:nth-child(2):after {
  content: '';
  background: url('../arrow-u.png') no-repeat center;
  width: 44px;
  height: 19px;
  position: absolute;
  top: 12px;
  right: -39px;
}
@media (max-width:767px){
  .tooltip-item:after {
    display: none;
  }
  .tooltip {
    padding: 10px;
  }
}
