div.news-list
{
	word-wrap: break-word;
}
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}




/* //NEW */
/* //NEW */
/* //NEW */
/* //NEW */
@media (min-width:768px){
	.w-m-65{width:65%}
	.w-m-35{width:35%}
}
@media (min-width:1180px){
    .w-l-30{width:30%}
    .w-l-43{width:43%}
    .w-l-57{width:57%}
    .w-l-70{width:68%}
    .w-l-50{width:50%}
}
.flex-st{align-items:stretch;}
#menu {
    margin-bottom: 0;
}
.karat-price {
  color: #2e2f32;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.karat-price__item {
    color: #333333;
    margin-bottom: 60px;
    min-height: 310px;
}
.karat-price__item h4 {
    line-height: 34px;
    position: relative;
    margin-bottom: 40px;
}
.karat-price__item h4:after {
    content: '';
    width: 90px;
    height: 3px;
    background-color: #2e2f32;
    position: absolute;
    bottom: -15px;
    left: 0;right: 0;
    margin: auto;
}
.karat-price__item .--yellow {
    background-color: #fff5e5;
}
.karat-price__item-img {
    margin-bottom: 20px;
}
.karat-price__item:first-child {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.07);
}
.karat-price__item:first-child .background {
    min-height: 300px;
    background: url('../jewel_1.png') no-repeat center right / auto 100%, #ffffff;
}
.karat-price__item:nth-child(2) .background {
    min-height: 320px;
    background: url('../jewel_2.jpg') no-repeat center / cover;
}
.karat-price__item:nth-child(3) .background {
    background: url('../jewel_3.jpg') no-repeat top left, url('../jewel_4.png') no-repeat top 17px right, #ffffff;
}
.fnt5 {
    font-weight: 500;
}
.karat-price__item-in {
    position: relative;
    line-height: 24px;
    margin-top: 70px;
}
.karat-price__item-in h5,
.karat-price__item-in p {
    position: relative;
    z-index: 9;
}
.karat-price__item-ico {
    position: absolute;
    top: -40px;
    left: -30px;
    z-index: 0;
}
.karat-price__tip {
    margin: 0 auto 50px;
}
.karat-price__tip-ico {
    width: 15%;
}
.karat-price__tip-desc {
    font-weight: 300;
    line-height: 24px;
    width: 82%;
    border-radius: 10px;
    border: 2px dashed #e89a1e;
    background-color: #ffffff;
    position: relative;
    padding: 30px 30px 30px 70px;
}
.karat-price__tip-desc .triangle {
    width: 0;
    height: 0;
    display: block;
    position: absolute;
    top: 45%; left: -30px;
    border-style: solid;
    border-width: 15px 30px 15px 0;
    border-color: transparent #fff transparent transparent;
}
.karat-price__tip-desc .triangle:before {
    content: '';
    width: 31px;
    display: block;
    position: absolute;
    top: -9px; left: 0;
    border-top: 2px dashed #e89a1e;
    transform: rotate(-30deg);
}
.karat-price__tip-desc .triangle:after {
    content: '';
    width: 31px;
    display: block;
    position: absolute;
    top: 8px; left: 0;
    border-top: 2px dashed #e89a1e;
    transform: rotate(30deg);
}
.mauto {
  margin: 0 auto;
}

@media (max-width:1179px){
    .karat-price__tip {
        margin: 0 auto 30px;
    }
    .karat-price__item {
        margin-bottom: 40px;
    }
    .karat-price__tip-desc {
        width: 78%;
        padding: 20px;
    }
    .br {
        display: block;
    }
    .karat-price {
        max-width: 720px;
        margin: auto;
    }
    .karat-price__item .--yellow {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
    .karat-price__item-img {
        margin-bottom: 0;
        width: 90px;
    }
    .karat-price__item-par {
        width: calc(100% - 90px);
    }
    .karat-price__item:nth-child(2) .background {
        margin-top: 20px;
    }
}

@media (max-width:767px){
    .karat-price__item:first-child .background {
        min-height: 200px;
        background: url(../jewel_1.png) no-repeat center top / 115% auto, #ffffff;
    }
    .karat-price__item:nth-child(2) .background {
        min-height: 210px;
    }
    .karat-price__item:nth-child(3) .background {
        background: url(../jewel_3.jpg) no-repeat top left / auto 10%, url(../jewel_4.png) no-repeat top 30px right / auto 10%, #ffffff;
    }
    .karat-price .p50 {
        padding: 25px 10px;
    }
    .karat-price__tip {
        margin: 0 auto 10px;
    }
    .karat-price__tip-ico {
        width: 60px;
        margin: 0 auto 40px;
    }
    .karat-price__tip-desc .triangle {
        width: 0;
        height: 0;
        display: block;
        position: absolute;
        top: -30px; left: 0;right: 0;
        margin: auto;
        border-style: solid;
        border-width: 0 15px 30px 15px;
        border-color: transparent transparent #fff transparent;
    }
    .karat-price__tip-desc .triangle:before {
        content: '';
        width: 31px;
        top: 13px; left: -24px;
        border-top: 2px dashed #e89a1e;
        transform: rotate(120deg);
    }
    .karat-price__tip-desc .triangle:after {
        content: '';
        width: 31px;
        display: block;
        position: absolute;
        top: 13px; left: -8px;
        border-top: 2px dashed #e89a1e;
        transform: rotate(60deg);
    }
    .karat-price__tip-desc {
        width: 100%;
    }
    .karat-price__item {
        margin-bottom: 20px;
    }
    .karat-price__item-img {
        width: 100%;
    }
    .karat-price__item-par {
        width: 100%;
    }
    .karat-price__item-in h5 {
        text-align: center;
    }

}
