div.news-list
{
	word-wrap: break-word;
}
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}




/* //NEW */
/* //NEW */
/* //NEW */
/* //NEW */

@media (min-width:1180px){
    .w-l-75{width:75%}
}
.karat-tabs {
  color: #333333;
  background: #fff;
  line-height: 1.5;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.07);
}
.karat-tabs a {
  text-decoration: underline;
  color: #e89a1e;
  font-weight: 400;
}
.karat-tabs a:hover {
  text-decoration: none;
}

.karat-tabs h2 {
  text-align: center;
  color: #2e2f32;
  font-size: 22px;
  font-weight: 100;
  text-transform: uppercase;
}
.karat-tabs h3 {
  color: #2e2f32;
  font-size: 24px;
  font-weight: 500;
}
.karat-tabs h4 {
  color: #e89a1e;
  font-size: 18px;
  font-weight: 700;
}

.tabs__caption {
  margin: 0;padding: 0;
  list-style-type: none;
  text-align: left;
}
.brg {
  border-bottom: 1px solid #ececec;
}
.tabs__caption li {
  padding: 15px 15px 15px 40px;
  margin: 0;
  color: #333333;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  position: relative;
}
.tabs__caption li div {
  position: relative;
  z-index: 9;
}
.tabs__caption li:after {
  content: '';
  width: 20px;
  height: 24px;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 10px;
  margin: auto;
}
.tabs__caption li:first-child:after {
  background: url('../menu320/bag.png') no-repeat center;
}
.tabs__caption li:nth-child(2):after {
  background: url('../menu320/invoice.png') no-repeat center;
}
.tabs__caption li:nth-child(3):after {
  background: url('../menu320/discount.png') no-repeat center top;
}
.tabs__caption li:nth-child(4):after {
  background: url('../menu320/person.png') no-repeat center;
}
.tabs__caption li:last-child:after {
  background: url('../menu320/speech_bubbles.png') no-repeat center top;
}
.tabs__caption li:hover,
.tabs__caption li.active {
  color: #e89a1e;
}
.tabs__caption span {
  opacity: 0;
  color: #fff;
  font-size: 11px;
  font-weight: 900;
  width: 16px;
  height: 16px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  background-color: #e89a1e;
  vertical-align: middle;
}
.tabs__caption li.active span {
  opacity: 1;
}
.tabs__content {
  display: none;
  padding: 26px;

  max-width: 750px;
  margin: auto;
}
.tabs__content.active {
  display: block;
}

.all_purchases {
  position: relative;
}
.all_purchases-header {
  width: 120px;
  height: 120px;
  border: 2px solid #ffdba2;
  background-color: #ffffff;
  margin: auto;
  border-radius: 50%;
  position: relative;
  z-index: 9;
  top: 55px;
}
.all_purchases-header img {
  margin-bottom: 15px;
}
.all_purchases-body {
  background-color: #fafafa;
  padding: 80px 30px 40px 30px;
  position: relative;
}
.all_purchases-body input {
  max-width: 400px;
  margin: auto;
}
.all_purchases-body table {
  border-radius: 6px 3px 3px;
  background-color: #ffffff;
  text-align: left;
  font-size: 14px;
  width: 100%;
}
.all_purchases-body table thead {
  color: #333333;
  font-weight: 400;
}
.all_purchases-body table tbody {
  color: #838087;
  font-weight: 300;
  padding: 10px;
}
.all_purchases-body table th {
  padding: 20px 10px 0 10px;
}
.all_purchases-body table td {
  padding: 15px 10px;
}
.all_purchases-body table tr:not(:last-child) td {
  border-bottom: 1px solid #ececec;
}
.all_purchases-body:before {
  content: '';
  width: 100%;
  height: 15px;
  position: absolute;
  left: 0;right: 0;top: -15px;
  background: url('../polygon-1.png') repeat-x center;
}

.input {
  display: inline-block;
  height: 40px;
  border-radius: 3px;
  border: 1px solid #ececec;
  background-color: #ffffff;
  padding: 10px;
  color: #333333;
  font: 300 14px rob,Roboto,sans-serif;
  box-sizing: border-box;
  width: 100%;
}
textarea.input {
  height: auto;
  resize: none;
}
.input::-webkit-input-placeholder {
  color: #b4b3b6;
}
.input::-moz-placeholder {
  color: #b4b3b6;
}
.input:-ms-input-placeholder {
  color: #b4b3b6;
}
.input:-moz-placeholder {
  color: #b4b3b6;
}
.personal .input {
  padding: 10px 10px 10px 35px;
}
.personal .input[name="name"] {
  background: url('../fields/person.png') no-repeat center left 10px;
}
.personal .input[name="phone"] {
  background: url('../fields/smartphone.png') no-repeat center left 10px;
}
.personal .input[name="email"] {
  background: url('../fields/e-mail.png') no-repeat center left 10px;
}
.personal .input[name="birthdate"] {
  background: url('../fields/balloons.png') no-repeat center left 10px;
}
.personal .input[name="city"] {
  background: url('../fields/pin.png') no-repeat center left 10px;
}
.checkbox,
.radio {
  color: #b4b3b6;
  font-size: 14px;
  font-weight: 300;
}
.checkbox [type="checkbox"],
.radio [type="radio"] {
  display: none;
}
.checkbox label,
.radio label {
  padding-left: 24px;
  position: relative;
}
.checkbox label:before,
.radio label:before {
  content: '';
  position: absolute;
  left: 0;top: 1px;
  width: 15px;
  height: 15px;
  border: 1px solid #e89a1e;
  background-color: #fff;
  border-radius: 15px;
}
.checkbox label:before {
  border-radius: 2px;
}
.radio :checked + label:before {
  background: url('../radio.svg') no-repeat center, #fff;
}
.checkbox :checked + label:before {
  background: url('../checked.png') no-repeat center, #fff;
}
.radio-1,
.radio-2 {
  display: none;
}

.form-group {
  margin: 20px 0;
}

.form-inner,
.personal {
  max-width: 420px;
  margin: auto;
}

.obmen {
  margin-top: 80px;
  background: url('../backsign.png') no-repeat right center, #ffe5bc;
}

.discounts-item {
  margin: 30px 0;
  text-align: left;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  text-decoration: none !important;
}
.discounts-img {
  width: 30%;
  position: relative;
}
.discounts-img:before {
  content: '';
  position: absolute;
  top: 0;right: 0;
  background: url('../shape.png') repeat-y center;
  background-size: 15px auto;
  height: 100%;
  width: 15px;
}
.discounts-desc {
  width: 70%;
  color: #333333;
  font-weight: 300;
  font-size: 16px;
  padding: 20px;
}
.discounts-title {
  font-size: 22px;
  font-weight: 500;
}

.bill {
  text-align: left;
  margin-top: 40px;
}
.bill-item {
  border-radius: 5px;
  background-color: #f9f9f9;
  padding: 30px;
  max-width: 440px;
  margin: 0 auto 15px;
  font-size: 14px;
  box-sizing: border-box !important;
}
.bill-text {
  font-size: 20px;
}
.bill-text img {
  margin: 0 20px;
}
.bill-text-f {
  color: #333333;
  font-weight: 400;
}
.bill-text-s {
  font-style: italic;
  font-weight: 300;
  color: #e89a1e;
  position: relative;
  top: 30px;
}
.mt20  {margin-top: 20px;}
.radioblock {
  color: #333333;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
}
.radioblock label {
  cursor: pointer;
}
.radioblock input {
  display: none;
}
.radioblock :checked + label {
  color: #e89a1e;
  text-decoration: underline;
}

.bill-item input {
  max-width: 338px;
}
.bill-item-num {
  color: #e89a1e;
  font-size: 36px;
  font-weight: 900;
  margin-right: 20px;
}


#menu {
  margin-bottom: 0;
}

#content {
    padding-top: 22px;
}

.custom-back {
  max-width: inherit;
  background: url('../img_down.png') no-repeat bottom right;
}

.modal-body .maskphone {
    border: none;
    border-bottom: 1px solid #ececec;
    padding: 10px 20px;
    background: url('../fields/smartphone.png') no-repeat center left, url('../checked.png') no-repeat center right;
}
.modal-body .smsphone {
    border: none;
    border-bottom: 1px solid #ececec;
    padding: 10px 25px;
    background: url('../fields/phone.png') no-repeat center left, url('../checked.png') no-repeat center right;
}
.modal-body a {
  text-decoration: underline;
}

.modal-header {
  color: #e89a1e;
  font-size: 16px;
  height: 50px;
  line-height: 50px;
  background-color: #fafafa;
}
.offer {
  text-align: left;
  max-width: 1130px;
  margin: auto;
  color: #2e2f32;
}
.wa {
  overflow: hidden;
}
.offer .slick-arrow {
  display: none !important;
}
.offer-item {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.07);
  background-color: #ffffff;
  padding: 30px;
  max-width: 530px;
  box-sizing: border-box;
  border-radius: 5px;
  margin-bottom: 35px;
  position: relative;
  z-index: 1;
}
.offer-item h4 {
  font-size: 24px;
}
.offer-mainimg {
  position: relative;
  height: 200px;
}
.offer-mainimg img {
  position: absolute;
  top: 35px;
  left: -44px;
  max-width: 130%;
}
.offer-backimg {
  position: relative;
}
.offer-backimg img {
  position: absolute;
  top: 92px;
  right: -81px;
  max-width: inherit;
}
.list--number {
  list-style-type: none;
  counter-reset: items;
  margin: 0;padding: 0;
  font-size: 18px;}
  .list--number > li {
    margin-bottom: 10px;
    padding-left: 30px;
    position: relative;
    font-weight: 300;
    line-height: 26px; }
    .list--number > li::before {
      counter-increment: items 1;
      content: counter(items, decimal) ".";
      color: #e89a1e;
      font-size: 24px;
      font-weight: 900;
      position: absolute;
      left: 0;top: -2px;
    }
.offer .slick-slide {
  padding: 0 10px;
}
.offer-desc {
  margin-top: 25px;
  padding: 0 10px;
}
.offer-desc p {
  margin-bottom: 25px;
}
.offer .slick-dots>li>button {
  background-color: #fff;
  border: 1px solid #e89a1e;
}
.offer .slick-dots {
    text-align: right;
    width: 100%;
    top: 41%;
    position: absolute;
    background-color: transparent;
}
.offer .slick-dots>li.slick-active>button {
  background-color: #e89a1e;
}
.fs24{font-size:24px!important}
.fs30{font-size:30px!important}
.fw-100 {
  font-weight: 100;
}
.offer-h2 {
  font-size: 30px;
  line-height: 40px;
}
.offer-h3 {
  font-size: 26px;
  line-height: 40px;
}
.visible-sm {display: none;}
@media screen and (max-width: 767px) {
  .offer-item {
    max-width: inherit;
  }
  .obmen {
    margin-top: 0;
  }
  .offer-item {
    padding: 15px;
  }
  .offer .slick-slide {
    padding: 0;
  }
  .offer-item h4 {
    font-size: 18px;
  }
  .offer-h2 {
    font-size: 23px;
    line-height: 35px;
  }
  .offer-h3 {
    font-size: 22px;
    line-height: 35px;
  }
  .offer-mainimg {
    height: auto;
  }
  .offer-mainimg img {
    position: static;
    margin: auto;
  }
  .offer-backimg img {

  }
  .offer .slick-dots {
    top: 38%;
  }
  .visible-sm {display: block;}
  .hidden-sm {display: none;}
  .discounts-img:before {
    left: 48%;
    bottom: -48%;
    top: auto;
    right: 0;
    transform: rotate(90deg);
  }
  .tabs__content {
    padding: 20px 10px;
  }
  .discounts-desc,
  .discounts-img {
    width: 100%;
  }
  .discounts-img img {
    width: 100%;
  }
  .discounts-desc {
    padding: 10px;
  }
  .discounts-item {
    margin: 15px 0;
  }
  .discounts-title {
    font-size: 18px;
  }
  .bill-text {
    flex-wrap: wrap;
  }
  .bill-text-img-f {
    width: 30%;
  }
  .bill-text-img-s {
    width: 100%;
    text-align: center;
  }
  .bill-text-s {
    top: -38px;
    left: 28%;
  }
  .bill-text-s,
  .bill-text-f {
    width: 70%;
  }
  .bill-text-f {
    text-align: center;
  }
  .bill-item-num {
    width: 100%;
    margin-right: 0;
    text-align: center;
  }
  .bill-item {
    padding: 15px;
    flex-wrap: wrap;
  }

  .data-table thead {
    display: none;
  }
  .data-table tr {
    border-bottom: 1px solid #ececec;
    display: block;
  }
  .data-table td {
    border-bottom: none !important;
    padding: 5px 10px !important;
  }
  .data-table td[data-label] {
    display: flex;
  }
  .data-table span {
    display: block;
    /* float: left; */
    width: 50%;
  }
  .data-table td[data-label]:before {
    content: attr(data-label);
    /* float: left; */
    color: #333333;
    font-size: 14px;
    font-weight: 400;
    margin-right: 8px;
    width: 50%;
  }
  .all_purchases-body {
    padding: 80px 12px 12px 12px;
  }
}
@media (min-width:768px){

  .bill-text-s,
  .bill-text-f {
    width: 32%;
  }
  .custom-back {
    background: url('../img_down.png') no-repeat bottom right, url('../bg_images.png') no-repeat top 100px left 10px;
  }
  .karat-tabs h2 {
    font-size: 25px;
  }
  .brg {
    border-right: 1px solid #ececec;
    border-bottom: none;
  }
  .tabs__caption li {
    padding: 26px;
    border-bottom: 1px solid #ececec;
  }
  .tabs__caption li:after {
    width: 51px;
    height: 47px;
    right: 0;
    top: auto;
    left: auto;
  }
  .tabs__caption li:first-child:after {
    background: url('../menu/purchases.png') no-repeat center;
  }
  .tabs__caption li:nth-child(2):after {
    width: 45px;
    background: url('../menu/bill.png') no-repeat center;
  }
  .tabs__caption li:nth-child(3):after {
    width: 40px;
    height: 50px;
    background: url('../menu/discounts.png') no-repeat center top;
  }
  .tabs__caption li:nth-child(4):after {
    width: 41px;
    height: 46px;
    background: url('../menu/personal.png') no-repeat center;
  }
  .tabs__caption li:last-child:after {
    height: 39px;
    background: url('../menu/back.png') no-repeat center top;
  }
  .tabs__caption li.active:first-child:after {
    background: url('../menu/hover/purchases.png') no-repeat center;
  }
  .tabs__caption li.active:nth-child(2):after {
    background: url('../menu/hover/bill.png') no-repeat center;
  }
  .tabs__caption li.active:nth-child(3):after {
    background: url('../menu/hover/discounts.png') no-repeat center top;
  }
  .tabs__caption li.active:nth-child(4):after {
    background: url('../menu/hover/personal.png') no-repeat center;
  }
  .tabs__caption li.active:last-child:after {
    background: url('../menu/hover/back.png') no-repeat center top;
  }
}
@media (min-width:1180px){
  .offer-mainimg img {
    max-width: inherit;
  }
  .offer-mainimg {
    height: 250px;
  }
  .w-l-60 {
    width: 60%;
  }
  .w-l-40 {
    width: 40%;
  }
  .bill-text-s,
  .bill-text-f {
    width: auto;
  }
  .bill-item {
    max-width: 640px;
  }
  .bill-text {
    font-size: 24px;
  }
}


.discont {
  text-align: left;
  color: #2e2f32;
}
.mauto {
  margin: 0 auto;
}
