div.news-list
{
	word-wrap: break-word;
}
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}




/* //NEW */
/* //NEW */
/* //NEW */
/* //NEW */
@media (min-width:768px){
	.w-m-65{width:65%}
	.w-m-35{width:35%}
}
@media (min-width:1180px){
    .w-l-30{width:30%}
    .w-l-41{width:41%}
    .w-l-44{width:44%}
    .w-l-46{width:46%}
    .w-l-54{width:54%}
    .w-l-56{width:56%}
    .w-l-64{width:64%}
    .w-l-59{width:59%}
    .w-l-50{width:50%}
    .w-l-90{width:90%}
}
.plr20 {
    padding-left: 20px;
    padding-right: 20px;
}
.relative {
    position: relative;
}
.thin {
    font-weight: 100;
}
.flex-st{
    align-items:stretch;
}
#menu {
    margin-bottom: 0;
}
.mauto {
    margin: 0 auto;
}

.karat-dev {
    color: #2e2f32;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.karat-dev__items {
    padding-top: 190px;
    background: url('../dev-1.jpg') no-repeat center top / 100% auto;
}
.karat-dev__item h2 {
    font-weight: 100;
    font-size: 30px;
    line-height: 1.3333333;
    position: relative;
    margin-bottom: 40px;
}
.karat-dev__item p {
    line-height: 24px;
    font-weight: 400;
}
.karat-dev__item {
    box-sizing: border-box;
}
.karat-dev__item h2:after {
    content: '';
    width: 90px;
    height: 3px;
    background-color: #333333;
    position: absolute;
    left: 0;right: 0;
    margin: auto;
    bottom: -15px;
}
.karat-dev b {
    font-weight: 300;
}
.karat-dev__item:first-child {
    padding: 60px 20px 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.07);
    border-radius: 5px;
    background-color: #ffffff;
    position: relative;
}
.karat-dev__item:first-child img:first-child {
    position: absolute;
    top: -25px;
    margin: auto;
    left: 0;
    right: 0;
}
.karat-dev__item:nth-child(2) {
    margin-top: 100px;
    padding: 60px 0;
    position: relative;
}
.karat-dev__item:nth-child(3) {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.07);
    background-color: #ffffff;
    margin-left: 25.5%;
}
.karat-dev__item:nth-child(3) .karat-dev-imgl {
    top: 29%;
}
.karat-dev__item:nth-child(4) {
    margin-top: 90px;
    margin-bottom: 40px;
    margin-left: auto;
}
.karat-dev__item:nth-child(5) {
    margin-bottom: 90px;
}
.karat-dev__item:nth-child(5) > div:first-child {
    background: url('../diamond-shape.png') no-repeat center left, #ffffff;
}
.karat-dev__item:nth-child(4) > div:first-child {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.07);
    background-color: #ffffff;

}
.karat-dev-imgr {
    position: absolute;
    left: -10%;
    top: -60px;
}
.karat-dev-imgl {
    position: absolute;
    right: 105%;
    top: 0;
}
.karat-dev-imgt {
    position: absolute;
    right: 0;
    top: 95%;
    z-index: 2;
}
.karat-dev-imgu {
    position: absolute;
    right: 140px;
    bottom: -46px;
    /* z-index: -1; */
}


@media (max-width:1179px){
    .karat-dev__items {
        padding-top: 140px;
    }
    .karat-dev__item:nth-child(2) {
        margin-right: 0 !important;
    }
    .karat-dev__item:nth-child(3) {
        margin-left: auto;
    }
    .karat-dev__item:nth-child(4) div:nth-child(2) img:last-child {
        width: 53%;
    }
    .karat-dev__item:nth-child(2) {
        margin-top: 50px;
        padding: 35px 0;
    }
    .karat-dev__item:nth-child(4) {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .karat-dev__item:nth-child(5) {
        margin-bottom: 30px;
    }
}

@media (max-width:1023px){
    .karat-dev__item:nth-child(4) div:nth-child(2) img:last-child {
        width: 70%;
    }
}
@media (max-width:767px){
    .karat-dev__items {
        padding-top: 90px;
        background: url('../mob-1.jpg') no-repeat center top / 100% auto;
    }
    .karat-dev__item {
        line-height: 18px;
    }
    .karat-dev__item h2 {
        font-size: 22px;
    }
    .karat-dev__item:first-child > img:first-child {
        width: 43px;
    }
    .karat-dev-imgu {
        right: 42px;
        bottom: -39px;
    }
    .karat-dev__item:nth-child(2) {
        padding-top: 160px;
        padding-bottom: 60px;
    }
    .karat-dev-imgl {
        left: 0;
        right: auto;
        top: 30px;
        width: 260px;
    }
    .karat-dev__item:nth-child(3) .karat-dev-imgl {
        top: -70px;
        width: 90px;
        transform: rotate(45deg);
    }
    .karat-dev__item:nth-child(4) {
        margin-top: 45px;
        margin-bottom: 30px;
    }
    .karat-dev-imgr {
        left: -11%;
        top: -30px;
        width: 170px;
    }
    .karat-dev__item:nth-child(4) > div:first-child {
        margin-bottom: 15px;
    }
    .karat-dev__item:nth-child(5) > div:first-child {
        background: url('../mob-2.png') no-repeat center left, #ffffff;
    }
    .p30 {
        padding: 20px;
    }
}
