#submenu-nav .lnk {
    border-bottom: 1px solid transparent;
    text-transform: uppercase;
}

.ajax_form_card label{
clear: both;
    display: block;
    color: red;
}

.main-slider-text .text {
    border: 0px solid #ffe8c4 !important;
}

.pagination a {

    color: #6e6d6f !important;
}


.bx-filter-block input[type=checkbox] {

    min-width: 14px!important;
}