div.news-list
{
	word-wrap: break-word;
}
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}





/*new!!!*/
.presents-inner {
  background-color: #fff !important;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.07);
}
.presents-desc {
  padding: 40px 20px 60px;
  border-left: 1px solid #ececec;
  background: url('../back.jpg') no-repeat left top / cover, #ffffff;
}
.presents-card {
  padding: 30px 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.07);
  background-color: #ffffff;
  max-width: 380px;
  text-align: left;
  position: relative;
}
.presents-card-img {
  position: absolute;
  right: -60px;
  bottom: -100px;
}
.presents-card-arr {
  position: absolute;
  left: 30%;
  top: 96%;
}
.presents-card p {
  color: #333333;
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 22px;
}
.presents-title {
  color: #2e2f32;
  text-align: left;
  line-height: 1;
  font-size: 30px;
  font-weight: 100;
  font-family: Roboto, sans-serif;
  text-transform: uppercase;
}
.presents-title b {
  font-weight: 300;
}
.presents-subtitle {
  margin-top: 15px;
  display: inline-block;
  margin-bottom: 80px;
  font-weight: 300;
  color: #e89a1e;
  font-size: 24px;
  font-style: italic;
  position: relative;
  text-align: center;
}
.presents-subtitle img {
  position: absolute;
  right: -1px;
  top: 72%;
}
.presents-menu__item {
  color: #333333;
  font-size: 14px;
  text-transform: uppercase;
  border-bottom: 1px solid #ececec;
  text-decoration: none;
  display: flex;
  align-items: center;
  text-align: left;
  height: 50px;
  font-weight: 400;
  padding: 10px 30px;
}
.presents-menu__item:hover,
.presents-menu__item.active {
  color: #e89a1e;
}



@media (max-width: 1180px) {
  .presents-menu__item {
    padding: 10px;
    font-size: 13px;
  }
  .presents-title {
    font-size: 24px;
  }
  .presents-subtitle {
    margin-top: 0;
    font-size: 18px;
    text-align: right;
    display: block;
    margin-bottom: 240px;
  }
  .presents-subtitle img {
    display: none;
  }
  .presents-card {
    max-width: inherit;
  }
  .presents-card-arr {
    display: none;
  }
  .presents-desc {
    padding: 30px 20px;
    background: url('../main-img.jpg') no-repeat top 120px center / 100% auto, url('../01.png') no-repeat top right, url('../02.png') no-repeat bottom left, #ffffff;
  }
}

@media screen and (max-device-width: 767px) {
  .presents-subtitle span {
    display: block;
  }
  .presents-title {
    font-size: 24px;
  }
  .presents-inner {
    margin: auto;
  }
  .presents-subtitle {
    font-size: 18px;
    text-align: left;
    float: right;
    margin-top: 45px;
    margin-bottom: 45px;
  }
  .presents-menu__item {
    padding: 10px;
  }
  .presents-card {
    padding: 10px;
    clear: both;
  }
  .presents-card .p30 {
    padding-left: 10px;
    padding-right: 10px;
  }
  .presents-card-img,
  .presents-subtitle img,
  .presents-card-arr {
    display: none;
  }
  .presents-desc {
    padding: 10px;
    border-left: none;
    background: url('../back-m.jpg') no-repeat center top -10px, #ffffff;
  }
  .subscribe FORM .item {
    padding-left: 0;
  }
}

@media (max-width: 580px) {

}
